body {
  margin: 0;
  color: #fff;
  background: #17181c;
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  padding: 10px 30px;
}

header h1 {
  font-size: 40px;
  font-weight: 800;
}

.main {
  padding: 1em;
  flex-grow: 1;
}
