.allert {
  position: absolute;
  z-index: 11;
  top: -100%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: grid;
  justify-items: center;
  gap: 1em;
  padding: 1em;
  width: 100%;
  font-size: 6em;
  border-radius: 5px;
  transition: top 1s;
  &_open {
    top: 50%;
  }
  &__text {
    color: #ffffff;
  }
  .restart {
    padding: 0.25em 1em;
    width: min-content;
    background-color: $buttonColor;
    color: $buttomTextColor;
    text-align: center;
    border-radius: 5px;
    border: transparent;
    outline: transparent;
    cursor: pointer;
    transition: background-color 0.2s;
    background-color: rgb(208, 44, 68);
    &:hover {
      background-color: rgb(198, 25, 51);
    }
  }
}
