@import "variable";

.field {
  position: relative;
  width: calc(100vw - 2em);
  height: calc(100vw - 2em);
  max-width: calc(800px - 2em);
  max-height: calc(800px - 2em);
  background-color: $tableBackColor;
  border: 2px solid $tableColor;
  // border-radius: 5px;
  &__item {
    $s: 0.3s;
    position: absolute;
    z-index: 7;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $buttomTextColor;
    background-color: $cellBackColor;
    border: 1px solid $tableColor;
    // border-radius: 5px;
    cursor: pointer;
    transition: top $s, left $s, color $s, background-color $s;
    &:hover {
      background-color: $cellBackColorHover;
    }
    &:active {
      background-color: $cellBackColorActive;
      transition: background-color 0s;
    }
    &_blank {
      background-color: transparent;
      opacity: 0;
      cursor: default;
      &:hover {
        background-color: inherit;
      }
      &:active {
        background-color: inherit;
      }
    }
  }
  &_open {
    .field__item {
      color: $cellBackColor;
    }
  }
}

@media screen and (max-width: 800px) {
  .field {
    &__item {
    }
  }
}

@media screen and (min-width: 1000px) and (max-height: 1000px) {
  .field {
    &__item {
    }
  }
}
