@import "variable";

.field {
  width: calc(100vw - 2em);
  height: calc(100vw - 2em);
  max-width: calc(800px - 2em);
  max-height: calc(800px - 2em);
  padding: 0.2em;
  display: grid;
  gap: 0.2em;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background-color: $tableBackColor;
  border: 2px solid $tableColor;
  border-radius: 5px;
  transition: filter 0.5s;
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 6em;
    color: $buttomTextColor;
    background-color: $cellBackColor;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s;
    &:hover {
      background-color: $cellBackColorHover;
    }
    &:active {
      background-color: $cellBackColorActive;
    }
    &_blank {
      background-color: transparent;
      opacity: 0;
      cursor: default;
      &:hover {
        background-color: inherit;
      }
      &:active {
        background-color: inherit;
      }
    }
  }
  &::after {
    content: "";
    position: absolute;
    opacity: 0;
    background-color: $textColor;
    transition: opacity 0.5s;
  }
  &_open {
    position: relative;
    overflow: hidden;
    filter: blur(10px);
    transition: filter 0.5s 0.3s;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 8;
      background-color: $textColor;
      opacity: 0.9;
      transition: opacity 0.5s 0.3s;
    }
  }
}

@media screen and (max-width: 800px) {
  .field {
    &__item {
      font-size: 12vmin;
    }
  }
}

@media screen and (min-width: 1000px) and (max-height: 1000px) {
  .field {
    &__item {
      color: red;
      font-size: 10vmin;
    }
  }
}
