$green: #444154;
$orange: #ff7062;
$orangeHover: #ff7062;
$blue: #6768ab;
$grey: #444154;
$lightGrey: #8e9e9d;

$textColor: #444154;
$sizeColor: #339fc6;
$sizeColorHover: #f7a43f;
$sizeColorActive: #3cbe47;
$tableColor: #f7a43f;
$tableBackColor: #ffffff;
$cellColor: #788272;
$cellBackColor: #339fc6;
$cellBackColorHover: #f7a43f;
$cellBackColorActive: #3cbe47;
$additionalColor: #8e9e9d;
$buttomTextColor: #ffffff;
$buttonColor: #f8ad52;
$buttonColorHover: #f39727;
$buttonColorActive: #66b541;
$buttonColorDisabled: #73817b;
$buttonColorDisabledHover: #5a7067;

// $textColor: #42504f;
// $sizeColor: #32adc0;
// $sizeColorHover: #f7a43f;
// $sizeColorActive: #3cbe47;
// $tableColor: #f7a43f;
// $tableBackColor: #f7eecd;
// $cellColor: #788272;
// $cellBackColor: #32adc0;
// $cellBackColorHover: #f7a43f;
// $cellBackColorActive: #3cbe47;
// $additionalColor: #8e9e9d;
// $buttomTextColor: #ffffff;
// $buttonColor: #f8ad52;
// $buttonColorHover: #f39727;
// $buttonColorActive: #66b541;
// $buttonColorDisabled: #73817b;
// $buttonColorDisabledHover: #5a7067;
