$textColor: #42504f;
$sizeColor: #4d9bb0;
$sizeColorHover: #31a8c9;
$sizeColorActive: #2dd161;
$cellColor: #788272;
$cellBackColor: #b7b8b7;
$cellBackColorHover: #bed5af;
$cellBackColorActive: #ecaa3e;
$additionalColor: #8e9e9d;
$buttomTextColor: #ffffff;
$buttonColor: #f8ad52;
$buttonColorHover: #f39727;
$buttonColorActive: #66b541;
$buttonColorDisabled: #73817b;
$buttonColorDisabledHover: #5a7067;
