.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin: auto;
  padding: 1em 1em;
  width: 100%;
  max-width: 800px;
  min-height: 100vh;
  max-height: 100vh;
}

.top-wrapper {
  display: grid;
  gap: 1em;
}
