@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../fonts/Roboto-Bold.ttf"), url("../../fonts/Roboto-Light.ttf"), url("../../fonts/Roboto-Medium.ttf"), url("../../fonts/Roboto-Regular.ttf");
}

.info__copyright, .watch-section .wrapper-content .watch .promo-text, .animals-section .animals-container .animals-wrapper .animals__item .text-container .text, .feedbacks__item .user__meta, .feedbacks .feedback, .testimonials-section .testimonials__button, .footer .donate__button, .watch-section .wrapper-content .watch__button, .animals-section .animals-container .animals__button, .feed-section .feed-container .feed__button, .animals-section .animals-container .animals-wrapper .button-container .button, .animals-section .animals-container .animals-wrapper .button-container .button-container_left, .header, .animals-section .animals-container .animals-wrapper .animals__item .text-container .title, .feed-section .feed-container .feed__text_long, .news .subscribe-form__button, .header .wrapper-content .logo, .news__logo, .backstage-section .backstage .text-container .title, .backstage-section .backstage .text-container .subtitle, .backstage-section .backstage .text-container .text, .feed-section .feed-container .feed__title, .feed-section .feed-container .feed__title_color, .feed-section .feed-container .feed__subtitle, .feed-section .feed-container .feed__text, .feed-section .feed-container .instructions .instructions__item .text, .testimonials-section .testimonials .title, .feedbacks__item .user__name, .news__subscribe, .news .subscribe-form__input, .info__social .socials__item .link .title, .info .nav .menu {
  font-family: "Roboto", sans-serif;
}

.info__copyright {
  font-weight: 100;
}

.watch-section .wrapper-content .watch .promo-text {
  font-weight: 700;
}

.animals-section .animals-container .animals-wrapper .animals__item .text-container .text, .feedbacks__item .user__meta, .feedbacks .feedback {
  font-weight: 300;
}

.testimonials-section .testimonials__button, .footer .donate__button, .watch-section .wrapper-content .watch__button, .animals-section .animals-container .animals__button, .feed-section .feed-container .feed__button, .animals-section .animals-container .animals-wrapper .button-container .button, .animals-section .animals-container .animals-wrapper .button-container .button-container_left, .header, .animals-section .animals-container .animals-wrapper .animals__item .text-container .title, .feed-section .feed-container .feed__text_long {
  font-weight: 500;
}

.news .subscribe-form__button, .header .wrapper-content .logo, .news__logo, .backstage-section .backstage .text-container .title, .backstage-section .backstage .text-container .subtitle, .backstage-section .backstage .text-container .text, .feed-section .feed-container .feed__title, .feed-section .feed-container .feed__title_color, .feed-section .feed-container .feed__subtitle, .feed-section .feed-container .feed__text, .feed-section .feed-container .instructions .instructions__item .text, .testimonials-section .testimonials .title, .feedbacks__item .user__name, .news__subscribe, .news .subscribe-form__input, .info__social .socials__item .link .title, .info .nav .menu {
  font-weight: 400;
}

.testimonials-section .testimonials__button, .footer .donate__button, .watch-section .wrapper-content .watch__button, .animals-section .animals-container .animals__button, .feed-section .feed-container .feed__button, .animals-section .animals-container .animals-wrapper .button-container .button, .animals-section .animals-container .animals-wrapper .button-container .button-container_left {
  padding: 16px;
  width: 298px;
  color: #ffffff;
  line-height: 140%;
  text-transform: uppercase;
  background: #f9804b;
  background-image: linear-gradient(113.96deg, #f9804b, #fe9013);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.testimonials-section .testimonials__button:hover, .footer .donate__button:hover, .watch-section .wrapper-content .watch__button:hover, .animals-section .animals-container .animals__button:hover, .feed-section .feed-container .feed__button:hover, .animals-section .animals-container .animals-wrapper .button-container .button:hover, .animals-section .animals-container .animals-wrapper .button-container .button-container_left:hover {
  background: #e47209;
  transition: all 0.3s;
}

.testimonials-section .testimonials__button:active, .footer .donate__button:active, .watch-section .wrapper-content .watch__button:active, .animals-section .animals-container .animals__button:active, .feed-section .feed-container .feed__button:active, .animals-section .animals-container .animals-wrapper .button-container .button:active, .animals-section .animals-container .animals-wrapper .button-container .button-container_left:active {
  background: #4b9200;
  transition: all 0.3s;
}

.testimonials-section .testimonials__button:disabled, .footer .donate__button:disabled, .watch-section .wrapper-content .watch__button:disabled, .animals-section .animals-container .animals__button:disabled, .feed-section .feed-container .feed__button:disabled, .animals-section .animals-container .animals-wrapper .button-container .button:disabled, .animals-section .animals-container .animals-wrapper .button-container .button-container_left:disabled {
  background: #767474;
  transition: all 0.3s;
}

.testimonials-section .testimonials__button, .footer .donate__button {
  border-radius: 5px;
}

.watch-section .wrapper-content .watch__button, .animals-section .animals-container .animals__button, .feed-section .feed-container .feed__button {
  border-radius: 25px;
}

.news .subscribe-form__button {
  padding: 10px 39px;
  font-size: 16px;
  line-height: 140%;
  background-color: #f1f3f2;
  color: #333b41;
  border: 1px solid #333b41;
  border-radius: 5px;
  cursor: pointer;
}

.header .wrapper-content .logo, .news__logo {
  position: relative;
  width: min-content;
  font-size: 1.188125em;
  line-height: 120%;
  border: 1px solid #ffffff;
  border-radius: 2px;
  text-align: center;
  transition: all 0.3s;
}

.header .wrapper-content .logo .link, .news__logo .link {
  padding: 2px 4px;
}

.header .wrapper-content .logo svg, .news__logo svg {
  position: absolute;
  top: 22px;
  left: 9px;
}

.header .wrapper-content .logo svg path, .news__logo svg path {
  transition: all 0.3s;
}

.header .wrapper-content .logo:hover, .news__logo:hover {
  transition: all 0.3s;
  border: 1px solid #fe9013;
}

.header .wrapper-content .logo:hover svg path, .news__logo:hover svg path {
  transition: all 0.3s;
  fill: #fe9013;
}

.link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.link:hover {
  color: #fe9013;
}

.link_active {
  color: #fe9013;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.wrapper-content {
  max-width: 72.5%;
  margin: 0 auto;
}

.header {
  position: absolute;
  width: 100%;
  padding: 14px 0;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  z-index: 2;
}

.header .wrapper-content {
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr;
  justify-content: start;
  align-items: center;
  gap: 63px;
}

.header .wrapper-content .nav ul {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 58px;
  white-space: nowrap;
  list-style: none;
  line-height: 140%;
}

.header .wrapper-content .copyright {
  justify-self: end;
  white-space: nowrap;
  line-height: 140%;
}

.watch-section {
  height: 780px;
  background-image: url("../../assets/images/giant-panda-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.watch-section .wrapper-content {
  display: flex;
  justify-content: end;
}

.watch-section .wrapper-content .watch {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding-top: 166px;
  width: 500px;
}

.watch-section .wrapper-content .watch .circle {
  position: absolute;
  top: 92px;
  left: -73px;
  z-index: 0;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #f9804b, #fe9013);
  border-radius: 50%;
}

.watch-section .wrapper-content .watch .promo-text {
  position: relative;
  z-index: 1;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.watch-section .wrapper-content .watch .promo-text_yellow {
  color: #ffee2e;
}

.watch-section .wrapper-content .watch__button {
  font-size: 16px;
  line-height: 140%;
}

.backstage-section {
  position: relative;
  padding: 140px 0 177px;
}

.backstage-section::after {
  content: "";
  height: 613px;
  width: 12.75%;
  background-image: url("../../assets/images/flower_foto1.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 12px;
  right: 0;
}

.backstage-section .backstage {
  display: flex;
  justify-content: space-between;
  gap: 31px;
}

.backstage-section .backstage .image-container {
  flex: 0 1 609px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
}

.backstage-section .backstage .text-container {
  flex: 0 1 465px;
  color: #333b41;
}

.backstage-section .backstage .text-container .title {
  margin: 0;
  font-size: 48px;
  line-height: 120%;
}

.backstage-section .backstage .text-container .subtitle {
  margin: 34px 0;
  font-size: 24px;
  line-height: 120%;
}

.backstage-section .backstage .text-container .text {
  padding: 20px 0;
  font-size: 16px;
  line-height: 137%;
}

.backstage-section .backstage .text-container .text_main {
  padding: 0;
}

.animals-section {
  position: relative;
  padding-bottom: 100px;
}

.animals-section::before {
  content: "";
  height: 460px;
  width: 292px;
  width: 18.25%;
  background-image: url("../../assets/images/palm.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  position: absolute;
  bottom: 0;
  left: 0;
}

.animals-section::after {
  content: "";
  height: 275px;
  width: 368px;
  width: 23%;
  background-image: url("../../assets/images/strelitzia.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  right: 0;
}

.animals-section .animals-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.animals-section .animals-container .animals-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.animals-section .animals-container .animals-wrapper .button-container {
  width: 62px;
  height: 62px;
  position: absolute;
  right: -80px;
}

.animals-section .animals-container .animals-wrapper .button-container .button, .animals-section .animals-container .animals-wrapper .button-container .button-container_left {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.animals-section .animals-container .animals-wrapper .button-container_left {
  left: -80px;
}

.animals-section .animals-container .animals-wrapper .animals {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
}

.animals-section .animals-container .animals-wrapper .animals__item {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.animals-section .animals-container .animals-wrapper .animals__item:hover {
  background: linear-gradient(113.96deg, #f9804b, #fe9013);
  transition: all 0.5s;
}

.animals-section .animals-container .animals-wrapper .animals__item:hover .image-container {
  transition: all 0.5s;
  filter: brightness(0.5);
  overflow: hidden;
}

.animals-section .animals-container .animals-wrapper .animals__item:hover .image-container .image {
  transition: all 0.5s;
  transform: scale(1.02732);
}

.animals-section .animals-container .animals-wrapper .animals__item:hover .text-container {
  transition: all 0.5s;
  top: -80px;
  color: #ffffff;
}

.animals-section .animals-container .animals-wrapper .animals__item:hover .text-container::after {
  transition: all 0.5s;
  opacity: 0;
}

.animals-section .animals-container .animals-wrapper .animals__item::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(113.96deg, #fa6f32 1.49%, #fe9013 101.44%);
  border-radius: 6px;
  z-index: -1;
}

.animals-section .animals-container .animals-wrapper .animals__item .image-container {
  transition: all 0.5s;
  border-radius: 5px 5px 0 0;
  position: relative;
  overflow: hidden;
}

.animals-section .animals-container .animals-wrapper .animals__item .image-container .image {
  transition: all 0.5s;
  border-radius: 5px 5px 0 0;
  width: 100%;
  height: 366px;
  object-fit: cover;
  object-position: center;
}

.animals-section .animals-container .animals-wrapper .animals__item .text-container {
  position: relative;
  top: 0;
  padding: 6px 14px 14px;
  overflow: hidden;
  transition: all 0.5s;
}

.animals-section .animals-container .animals-wrapper .animals__item .text-container .title {
  max-width: 75%;
  font-size: 16px;
  text-transform: uppercase;
}

.animals-section .animals-container .animals-wrapper .animals__item .text-container .text {
  max-width: 75%;
  font-size: 15px;
}

.animals-section .animals-container .animals-wrapper .animals .meat .text-container::after {
  content: "";
  width: 48px;
  height: 38px;
  background-image: url("../../assets/icons/meet-fish.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  right: 8px;
  transition: all 0.5s;
}

.animals-section .animals-container .animals-wrapper .animals .vegan .text-container::after {
  content: "";
  width: 33px;
  height: 37px;
  background-image: url("../../assets/icons/banana-bamboo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 6px;
  right: 12px;
  transition: all 0.5s;
}

.animals-section .animals-container .animals__button {
  align-self: center;
  line-height: 140%;
  font-size: 16px;
}

.feed-section {
  padding: 69px 0 100px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  color: #333b41;
}

.feed-section .feed-container {
  display: grid;
  padding: 41px 99px 59px;
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
}

.feed-section .feed-container .feed__title {
  text-align: center;
  margin: 60px 0 40px;
  font-size: 36px;
  line-height: 130%;
}

.feed-section .feed-container .feed__title_color {
  margin: 0;
  font-size: 48px;
  line-height: 120%;
  color: #fe9013;
}

.feed-section .feed-container .feed__subtitle {
  padding: 30px 0 40px;
  font-size: 24px;
  line-height: 120%;
}

.feed-section .feed-container .feed__text {
  font-size: 16px;
  line-height: 130%;
}

.feed-section .feed-container .feed__text_long {
  font-weight: 500;
  padding-bottom: 10px;
  width: 105%;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.08px;
}

.feed-section .feed-container .feed__text_short {
  width: 90%;
}

.feed-section .feed-container .feed__text_short .emergency {
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

.feed-section .feed-container .feed__text_short .emergency::after {
  content: "";
  display: block;
  width: 99%;
  border: 0.5px solid #fe9013;
  position: absolute;
  left: 1px;
  right: 0;
  bottom: -3px;
}

.feed-section .feed-container .instructions {
  margin: 0 auto;
  max-width: 764px;
  margin-bottom: 62px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  align-items: start;
  justify-self: center;
  gap: 30px;
  z-index: 1;
}

.feed-section .feed-container .instructions .instructions__item {
  max-width: 168px;
  display: grid;
  gap: 30px;
}

.feed-section .feed-container .instructions .instructions__item_1 {
  grid-column-end: span 2;
}

.feed-section .feed-container .instructions .instructions__item_2 {
  grid-column-end: span 2;
}

.feed-section .feed-container .instructions .instructions__item_3 {
  grid-column-end: span 2;
}

.feed-section .feed-container .instructions .instructions__item .icon {
  position: relative;
  width: 168px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 5px;
}

.feed-section .feed-container .instructions .instructions__item .icon::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(113.96deg, #f9804b, #fe9013);
  border-radius: 6px;
  z-index: -1;
}

.feed-section .feed-container .instructions .instructions__item .text {
  font-size: 16px;
  line-height: 140%;
}

.feed-section .feed-container .instructions .arrow {
  position: relative;
  top: 60px;
  z-index: 1;
}

.feed-section .feed-container .feed__button {
  justify-self: center;
  line-height: 140%;
  font-size: 16px;
}

.testimonials-section {
  position: relative;
  overflow: hidden;
}

.testimonials-section::after {
  content: "";
  height: 408px;
  width: 247px;
  width: 15.4375%;
  background: url("../../assets/images/leav.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: -133px;
}

.testimonials-section .testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 0 180px;
}

.testimonials-section .testimonials .title {
  margin-bottom: 49px;
  font-size: 36px;
  line-height: 130%;
  color: #333b41;
  text-align: center;
}

.testimonials-section .testimonials .range {
  position: relative;
  width: 51.637931%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #f5f7f6;
  height: 6px;
  border-radius: 5px;
  margin: 23px 0 31px;
}

.testimonials-section .testimonials .range::before {
  content: "";
  position: absolute;
  top: -0.5px;
  bottom: -0.5px;
  left: -0.5px;
  right: -0.5px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-radius: 5.5px;
  z-index: -1;
}

.testimonials-section .testimonials .range::-moz-range-track {
  position: relative;
  width: 100%;
  height: 6px;
  border: 1px solid transparent;
  border-image-slice: 1;
  -moz-border-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-radius: 5px;
  -moz-appearance: none;
}

.testimonials-section .testimonials .range::-webkit-slider-thumb {
  width: 19%;
  height: 6px;
  background-color: #fe9013;
  border: none;
  border-radius: 5px;
  appearance: none;
  cursor: pointer;
}

.testimonials-section .testimonials .range::-moz-range-thumb {
  width: 19%;
  height: 6px;
  background-color: #fe9013;
  border: none;
  border-radius: 5px;
  -moz-appearance: none;
  cursor: pointer;
}

.testimonials-section .testimonials__button {
  align-self: flex-start;
  font-size: 16px;
}

.feedbacks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.feedbacks__item {
  position: relative;
  padding: 14px 15px 19px 16px;
  background-color: #f1f3f2;
  border-radius: 20px;
}

.feedbacks__item::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-radius: 22px;
  z-index: -1;
}

.feedbacks__item .user {
  margin-bottom: 7px;
  display: flex;
  gap: 10px;
}

.feedbacks__item .user__name {
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}

.feedbacks__item .user__meta {
  display: flex;
  gap: 16px;
  font-size: 15px;
  line-height: 120%;
  color: #bdbdbd;
}

.feedbacks__item .user__meta .user__date {
  position: relative;
}

.feedbacks__item .user__meta .user__date::before {
  content: "\2022";
  position: absolute;
  left: -8px;
}

.feedbacks .feedback {
  height: 307px;
  overflow: scroll;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}

.footer {
  padding: 40px 0 50px;
  color: #ffffff;
  background-color: #111115;
}

.footer .donate {
  padding: 36px 0 44px;
}

.footer .donate__button {
  font-size: 16px;
  line-height: 140%;
}

.news {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 36px;
}

.news__subscribe {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 13px;
  font-size: 24px;
  line-height: 120%;
}

.news .subscribe-form {
  display: flex;
  gap: 10px;
}

.news .subscribe-form__input {
  position: relative;
  padding: 10px;
  width: 228px;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  background: transparent;
  border: 0.7px solid #fe9013;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
}

.news .subscribe-form__input:focus {
  border: 0.7px solid #4b9200;
  transition: all 0.3s;
}

.news .subscribe-form__input:focus + .subscribe-form__button {
  border: 1px solid #4b9200;
  color: #4b9200;
  transition: all 0.3s;
}

.news .subscribe-form__input:not(.subscribe-form__input:focus) + .subscribe-form__button {
  color: #333b41;
  border: 1px solid #333b41;
  transition: all 0.3s;
}

.news .subscribe-form__input:valid {
  transition: all 0.3s;
}

.news .subscribe-form__input:valid + .subscribe-form__button {
  color: #333b41;
  border: 1px solid #333b41;
  transition: all 0.3s;
}

.news .subscribe-form__input:valid + .subscribe-form__button {
  color: #4b9200;
  border: 1px solid #4b9200;
  transition: all 0.3s;
}

.news .subscribe-form__input:invalid {
  color: #d31414;
  border: 0.7px solid #d31414;
  transition: all 0.3s;
}

.news .subscribe-form__input:invalid::placeholder {
  color: #d31414;
  transition: all 0.3s;
}

.news .subscribe-form__input:invalid + .subscribe-form__button {
  border: 1px solid #d31414;
  color: #d31414;
  transition: all 0.3s;
}

.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  gap: 88px;
}

.info__social .socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.info__social .socials__item .link {
  display: flex;
  align-items: center;
  gap: 12px;
}

.info__social .socials__item .link .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: #c4c4c4;
  border-radius: 50%;
  transition: all 0.3s;
}

.info__social .socials__item .link .title {
  font-size: 16px;
  line-height: 140%;
  transition: all 0.3s;
}

.info__social .socials__item:hover .icon {
  background: #4b9200;
  transition: all 0.3s;
}

.info__social .socials__item:hover .title {
  color: #4b9200;
  transition: all 0.3s;
}

.info .nav .menu {
  display: flex;
  gap: 58px;
  font-size: 16px;
  line-height: 140%;
  list-style: none;
}

.info .nav .menu__item {
  white-space: nowrap;
}

.info__copyright {
  justify-self: end;
  font-size: 16px;
  line-height: 130%;
}

.info__copyright .link_info {
  position: relative;
  cursor: pointer;
}

.info__copyright .link_info:hover {
  color: #4b9200;
}

.info__copyright .link_info:hover::after {
  content: "";
  display: block;
  width: 99%;
  border: 0.5px solid #4b9200;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
}

.info__copyright .author {
  margin-bottom: 10px;
}
