@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../fonts/Roboto-Bold.ttf"), url("../../fonts/Roboto-Light.ttf"), url("../../fonts/Roboto-Medium.ttf"), url("../../fonts/Roboto-Regular.ttf");
}

.info__copyright, .watch-section .wrapper-content .watch .promo-text, .animals-section .animals-container .animals-wrapper .animals__item .text-container .text, .feedbacks__item .user__meta, .feedbacks .feedback, .testimonials-section .testimonials__button, .footer .donate__button, .watch-section .wrapper-content .watch__button, .animals-section .animals-container .animals__button, .feed-section .feed-container .feed__button, .animals-section .animals-container .animals-wrapper .button-container .button, .animals-section .animals-container .animals-wrapper .button-container .button-container_left, .header, .animals-section .animals-container .animals-wrapper .animals__item .text-container .title, .feed-section .feed-container .feed__text_long, .news .subscribe-form__button, .header .wrapper-content .logo, .news__logo, .backstage-section .backstage .text-container .title, .backstage-section .backstage .text-container .subtitle, .backstage-section .backstage .text-container .text, .feed-section .feed-container .feed__title, .feed-section .feed-container .feed__title_color, .feed-section .feed-container .feed__subtitle, .feed-section .feed-container .feed__text, .feed-section .feed-container .instructions .instructions__item .text, .testimonials-section .testimonials .title, .feedbacks__item .user__name, .news__subscribe, .news .subscribe-form__input, .info__social .socials__item .link .title, .info .nav .menu {
  font-family: "Roboto", sans-serif;
}

.info__copyright {
  font-weight: 100;
}

.watch-section .wrapper-content .watch .promo-text {
  font-weight: 700;
}

.animals-section .animals-container .animals-wrapper .animals__item .text-container .text, .feedbacks__item .user__meta, .feedbacks .feedback {
  font-weight: 300;
}

.testimonials-section .testimonials__button, .footer .donate__button, .watch-section .wrapper-content .watch__button, .animals-section .animals-container .animals__button, .feed-section .feed-container .feed__button, .animals-section .animals-container .animals-wrapper .button-container .button, .animals-section .animals-container .animals-wrapper .button-container .button-container_left, .header, .animals-section .animals-container .animals-wrapper .animals__item .text-container .title, .feed-section .feed-container .feed__text_long {
  font-weight: 500;
}

.news .subscribe-form__button, .header .wrapper-content .logo, .news__logo, .backstage-section .backstage .text-container .title, .backstage-section .backstage .text-container .subtitle, .backstage-section .backstage .text-container .text, .feed-section .feed-container .feed__title, .feed-section .feed-container .feed__title_color, .feed-section .feed-container .feed__subtitle, .feed-section .feed-container .feed__text, .feed-section .feed-container .instructions .instructions__item .text, .testimonials-section .testimonials .title, .feedbacks__item .user__name, .news__subscribe, .news .subscribe-form__input, .info__social .socials__item .link .title, .info .nav .menu {
  font-weight: 400;
}

.testimonials-section .testimonials__button, .footer .donate__button, .watch-section .wrapper-content .watch__button, .animals-section .animals-container .animals__button, .feed-section .feed-container .feed__button, .animals-section .animals-container .animals-wrapper .button-container .button, .animals-section .animals-container .animals-wrapper .button-container .button-container_left {
  padding: 16px;
  width: 298px;
  color: #ffffff;
  line-height: 140%;
  text-transform: uppercase;
  background: #f9804b;
  background-image: linear-gradient(113.96deg, #f9804b, #fe9013);
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.testimonials-section .testimonials__button:hover, .footer .donate__button:hover, .watch-section .wrapper-content .watch__button:hover, .animals-section .animals-container .animals__button:hover, .feed-section .feed-container .feed__button:hover, .animals-section .animals-container .animals-wrapper .button-container .button:hover, .animals-section .animals-container .animals-wrapper .button-container .button-container_left:hover {
  background: #e47209;
  transition: all 0.3s;
}

.testimonials-section .testimonials__button:active, .footer .donate__button:active, .watch-section .wrapper-content .watch__button:active, .animals-section .animals-container .animals__button:active, .feed-section .feed-container .feed__button:active, .animals-section .animals-container .animals-wrapper .button-container .button:active, .animals-section .animals-container .animals-wrapper .button-container .button-container_left:active {
  background: #4b9200;
  transition: all 0.3s;
}

.testimonials-section .testimonials__button:disabled, .footer .donate__button:disabled, .watch-section .wrapper-content .watch__button:disabled, .animals-section .animals-container .animals__button:disabled, .feed-section .feed-container .feed__button:disabled, .animals-section .animals-container .animals-wrapper .button-container .button:disabled, .animals-section .animals-container .animals-wrapper .button-container .button-container_left:disabled {
  background: #767474;
  transition: all 0.3s;
}

.testimonials-section .testimonials__button, .footer .donate__button {
  border-radius: 5px;
}

.watch-section .wrapper-content .watch__button, .animals-section .animals-container .animals__button, .feed-section .feed-container .feed__button {
  border-radius: 25px;
}

.news .subscribe-form__button {
  padding: 10px 39px;
  font-size: 16px;
  line-height: 140%;
  background-color: #f1f3f2;
  color: #333b41;
  border: 1px solid #333b41;
  border-radius: 5px;
  cursor: pointer;
}

.header .wrapper-content .logo, .news__logo {
  position: relative;
  width: min-content;
  font-size: 1.188125em;
  line-height: 120%;
  border: 1px solid #ffffff;
  border-radius: 2px;
  text-align: center;
  transition: all 0.3s;
}

.header .wrapper-content .logo .link, .news__logo .link {
  padding: 2px 4px;
}

.header .wrapper-content .logo svg, .news__logo svg {
  position: absolute;
  top: 22px;
  left: 9px;
}

.header .wrapper-content .logo svg path, .news__logo svg path {
  transition: all 0.3s;
}

.header .wrapper-content .logo:hover, .news__logo:hover {
  transition: all 0.3s;
  border: 1px solid #fe9013;
}

.header .wrapper-content .logo:hover svg path, .news__logo:hover svg path {
  transition: all 0.3s;
  fill: #fe9013;
}

.link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
}

.link:hover {
  color: #fe9013;
}

.link_active {
  color: #fe9013;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.wrapper-content {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: content-box;
}

.header {
  position: absolute;
  width: 100%;
  padding: 14px 0;
  font-size: 16px;
  color: #ffffff;
  background-color: #000000;
  z-index: 2;
}

.header .wrapper-content {
  display: grid;
  grid-template-columns: repeat(2, auto) 1fr;
  justify-content: start;
  align-items: center;
  gap: 63px;
}

.header .wrapper-content .nav ul {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 58px;
  white-space: nowrap;
  list-style: none;
  line-height: 140%;
}

.header .wrapper-content .copyright {
  justify-self: end;
  white-space: nowrap;
  line-height: 140%;
}

.watch-section {
  height: 780px;
  background-image: url("../../assets/images/giant-panda-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.watch-section .wrapper-content {
  display: flex;
  justify-content: end;
}

.watch-section .wrapper-content .watch {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
  padding-top: 166px;
  width: 500px;
}

.watch-section .wrapper-content .watch .circle {
  position: absolute;
  top: 92px;
  left: -73px;
  z-index: 0;
  width: 465px;
  height: 465px;
  background: linear-gradient(113.96deg, #f9804b, #fe9013);
  border-radius: 50%;
}

.watch-section .wrapper-content .watch .promo-text {
  position: relative;
  z-index: 1;
  font-size: 106.496px;
  line-height: 75%;
  text-align: center;
  color: white;
  text-transform: uppercase;
}

.watch-section .wrapper-content .watch .promo-text_yellow {
  color: #ffee2e;
}

.watch-section .wrapper-content .watch__button {
  font-size: 16px;
  line-height: 140%;
}

.backstage-section {
  position: relative;
  padding: 140px 0 177px;
}

.backstage-section::after {
  content: "";
  height: 85%;
  width: 100%;
  max-width: 12.75%;
  background-image: url("../../assets/images/flower_foto1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left center;
  position: absolute;
  top: 12px;
  right: 0;
  z-index: -1;
}

.backstage-section .backstage {
  display: flex;
  justify-content: space-between;
  gap: 31px;
}

.backstage-section .backstage .image-container {
  flex: 0 10 609px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: start;
}

.backstage-section .backstage .text-container {
  flex: 0 1 465px;
  color: #333b41;
}

.backstage-section .backstage .text-container .title {
  margin: 0;
  font-size: 48px;
  line-height: 120%;
}

.backstage-section .backstage .text-container .subtitle {
  margin: 34px 0;
  font-size: 24px;
  line-height: 120%;
}

.backstage-section .backstage .text-container .text {
  padding: 20px 0;
  font-size: 16px;
  line-height: 137%;
}

.backstage-section .backstage .text-container .text_main {
  padding: 0;
}

.animals-section {
  position: relative;
  padding-bottom: 100px;
}

.animals-section::before {
  content: "";
  height: 100%;
  width: 100%;
  max-width: 18.25%;
  background-image: url("../../assets/images/palm.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.animals-section::after {
  content: "";
  height: 100%;
  width: 100%;
  max-width: 23%;
  background-image: url("../../assets/images/strelitzia.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.animals-section .animals-container {
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.animals-section .animals-container .animals-wrapper {
  position: relative;
}

.animals-section .animals-container .animals-wrapper .button-container {
  width: 62px;
  height: 62px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -80px;
  z-index: 10;
}

.animals-section .animals-container .animals-wrapper .button-container .button, .animals-section .animals-container .animals-wrapper .button-container .button-container_left {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.animals-section .animals-container .animals-wrapper .button-container_left {
  left: -80px;
}

.animals-section .animals-container .animals-wrapper .animals {
  width: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 30px;
}

.animals-section .animals-container .animals-wrapper .animals__item {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  transition: all 0.5s;
  cursor: pointer;
}

.animals-section .animals-container .animals-wrapper .animals__item:hover {
  background: linear-gradient(113.96deg, #f9804b, #fe9013);
  transition: all 0.5s;
}

.animals-section .animals-container .animals-wrapper .animals__item:hover .image-container {
  transition: all 0.5s;
  filter: brightness(0.5);
  overflow: hidden;
}

.animals-section .animals-container .animals-wrapper .animals__item:hover .image-container .image {
  transition: all 0.5s;
  transform: scale(1.02732);
}

.animals-section .animals-container .animals-wrapper .animals__item:hover .text-container {
  transition: all 0.5s;
  top: -80px;
  color: #ffffff;
}

.animals-section .animals-container .animals-wrapper .animals__item:hover .text-container::after {
  transition: all 0.5s;
  opacity: 0;
}

.animals-section .animals-container .animals-wrapper .animals__item::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(113.96deg, #fa6f32 1.49%, #fe9013 101.44%);
  border-radius: 6px;
  z-index: -1;
}

.animals-section .animals-container .animals-wrapper .animals__item .image-container {
  transition: all 0.5s;
  border-radius: 5px 5px 0 0;
  position: relative;
  overflow: hidden;
}

.animals-section .animals-container .animals-wrapper .animals__item .image-container .image {
  transition: all 0.5s;
  border-radius: 5px 5px 0 0;
  width: 100%;
}

.animals-section .animals-container .animals-wrapper .animals__item .text-container {
  position: relative;
  top: 0;
  padding: 6px 14px 14px;
  overflow: hidden;
  transition: all 0.5s;
}

.animals-section .animals-container .animals-wrapper .animals__item .text-container .title {
  max-width: 75%;
  font-size: 16px;
  text-transform: uppercase;
}

.animals-section .animals-container .animals-wrapper .animals__item .text-container .text {
  max-width: 75%;
  font-size: 15px;
}

.animals-section .animals-container .animals-wrapper .animals .meat .text-container::after {
  content: "";
  width: 48px;
  height: 38px;
  background-image: url("../../assets/icons/meet-fish.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 4px;
  right: 8px;
  transition: all 0.5s;
}

.animals-section .animals-container .animals-wrapper .animals .vegan .text-container::after {
  content: "";
  width: 33px;
  height: 37px;
  background-image: url("../../assets/icons/banana-bamboo.svg");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 6px;
  right: 12px;
  transition: all 0.5s;
}

.animals-section .animals-container .animals__button {
  align-self: center;
  line-height: 140%;
  font-size: 16px;
}

.feed-section {
  padding: 69px 0 100px;
  background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #febdab 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  color: #333b41;
}

.feed-section .feed-container {
  display: grid;
  padding: 41px 99px 59px;
  background: rgba(253, 253, 255, 0.52);
  border-radius: 20px;
}

.feed-section .feed-container .feed__title {
  text-align: center;
  margin: 60px 0 40px;
  font-size: 36px;
  line-height: 130%;
}

.feed-section .feed-container .feed__title_color {
  margin: 0;
  font-size: 48px;
  line-height: 120%;
  color: #fe9013;
}

.feed-section .feed-container .feed__subtitle {
  padding: 30px 0 40px;
  font-size: 24px;
  line-height: 120%;
}

.feed-section .feed-container .feed__text {
  font-size: 16px;
  line-height: 130%;
}

.feed-section .feed-container .feed__text_long {
  font-weight: 500;
  padding-bottom: 10px;
  width: 105%;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: -0.005px;
}

.feed-section .feed-container .feed__text_short {
  width: 90%;
}

.feed-section .feed-container .feed__text_short .emergency {
  position: relative;
  text-decoration: none;
  white-space: nowrap;
}

.feed-section .feed-container .feed__text_short .emergency::after {
  content: "";
  display: block;
  width: 99%;
  border: 0.5px solid #fe9013;
  position: absolute;
  left: 1px;
  right: 0;
  bottom: -3px;
}

.feed-section .feed-container .instructions {
  margin: 0 auto;
  width: 100%;
  max-width: 764px;
  margin-bottom: 62px;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  justify-items: center;
  align-items: start;
  justify-self: center;
  gap: 30px;
  z-index: 1;
}

.feed-section .feed-container .instructions .instructions__item {
  max-width: 168px;
  display: grid;
  gap: 30px;
}

.feed-section .feed-container .instructions .instructions__item_1 {
  grid-column-end: span 2;
}

.feed-section .feed-container .instructions .instructions__item_2 {
  grid-column-end: span 2;
}

.feed-section .feed-container .instructions .instructions__item_3 {
  grid-column-end: span 2;
}

.feed-section .feed-container .instructions .instructions__item .icon {
  position: relative;
  width: 168px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border-radius: 5px;
}

.feed-section .feed-container .instructions .instructions__item .icon::before {
  content: "";
  position: absolute;
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
  background: linear-gradient(113.96deg, #f9804b, #fe9013);
  border-radius: 6px;
  z-index: -1;
}

.feed-section .feed-container .instructions .instructions__item .text {
  font-size: 16px;
  line-height: 140%;
}

.feed-section .feed-container .instructions .arrow {
  position: relative;
  top: 60px;
  z-index: 1;
}

.feed-section .feed-container .feed__button {
  justify-self: center;
  line-height: 140%;
  font-size: 16px;
}

.testimonials-section {
  position: relative;
  overflow: hidden;
}

.testimonials-section::after {
  content: "";
  background: url("../../assets/images/leav.png");
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  bottom: -133px;
  z-index: -1;
  height: 100%;
  width: 100%;
  max-width: 15.43%;
  background-size: contain;
  background-position: bottom;
}

.testimonials-section .testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 140px 0 180px;
}

.testimonials-section .testimonials .title {
  margin-bottom: 49px;
  font-size: 36px;
  line-height: 130%;
  color: #333b41;
  text-align: center;
}

.testimonials-section .testimonials .range {
  position: relative;
  width: 51.637931%;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: #f5f7f6;
  height: 6px;
  border-radius: 5px;
  margin: 23px 0 31px;
}

.testimonials-section .testimonials .range::before {
  content: "";
  position: absolute;
  top: -0.5px;
  bottom: -0.5px;
  left: -0.5px;
  right: -0.5px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-radius: 5.5px;
  z-index: -1;
}

.testimonials-section .testimonials .range::-moz-range-track {
  position: relative;
  width: 100%;
  height: 6px;
  border: 1px solid transparent;
  border-image-slice: 1;
  -moz-border-image: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-radius: 5px;
  -moz-appearance: none;
}

.testimonials-section .testimonials .range::-webkit-slider-thumb {
  width: 19%;
  height: 6px;
  background-color: #fe9013;
  border: none;
  border-radius: 5px;
  appearance: none;
  cursor: pointer;
}

.testimonials-section .testimonials .range::-moz-range-thumb {
  width: 19%;
  height: 6px;
  background-color: #fe9013;
  border: none;
  border-radius: 5px;
  -moz-appearance: none;
  cursor: pointer;
}

.testimonials-section .testimonials__button {
  align-self: flex-start;
  font-size: 16px;
}

.feedbacks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
}

.feedbacks__item {
  position: relative;
  padding: 14px 15px 19px 16px;
  background-color: #f1f3f2;
  border-radius: 20px;
}

.feedbacks__item::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #e0d8f0 80.49%, #eaf7fe 127.9%, #eaf7fe 149.54%);
  border-radius: 22px;
  z-index: -1;
}

.feedbacks__item .user {
  margin-bottom: 7px;
  display: flex;
  gap: 10px;
}

.feedbacks__item .user__name {
  font-size: 16px;
  line-height: 120%;
  color: #000000;
}

.feedbacks__item .user__meta {
  display: flex;
  gap: 16px;
  font-size: 15px;
  line-height: 120%;
  color: #bdbdbd;
}

.feedbacks__item .user__meta .user__date {
  position: relative;
}

.feedbacks__item .user__meta .user__date::before {
  content: "\2022";
  position: absolute;
  left: -8px;
}

.feedbacks .feedback {
  height: 307px;
  overflow: scroll;
  font-size: 15px;
  line-height: 120%;
  color: #767474;
}

.footer {
  padding: 40px 0 50px;
  color: #ffffff;
  background-color: #111115;
}

.footer .donate {
  padding: 36px 0 44px;
}

.footer .donate__button {
  font-size: 16px;
  line-height: 140%;
}

.news {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 36px;
}

.news__subscribe {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  gap: 13px;
  font-size: 24px;
  line-height: 120%;
}

.news .subscribe-form {
  display: flex;
  gap: 10px;
}

.news .subscribe-form__input {
  position: relative;
  padding: 10px;
  width: 228px;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
  background: transparent;
  border: 0.7px solid #fe9013;
  border-radius: 2px;
  outline: none;
  transition: all 0.3s;
}

.news .subscribe-form__input:focus {
  border: 0.7px solid #4b9200;
  transition: all 0.3s;
}

.news .subscribe-form__input:focus + .subscribe-form__button {
  border: 1px solid #4b9200;
  color: #4b9200;
  transition: all 0.3s;
}

.news .subscribe-form__input:not(.subscribe-form__input:focus) + .subscribe-form__button {
  color: #333b41;
  border: 1px solid #333b41;
  transition: all 0.3s;
}

.news .subscribe-form__input:valid {
  transition: all 0.3s;
}

.news .subscribe-form__input:valid + .subscribe-form__button {
  color: #333b41;
  border: 1px solid #333b41;
  transition: all 0.3s;
}

.news .subscribe-form__input:valid + .subscribe-form__button {
  color: #4b9200;
  border: 1px solid #4b9200;
  transition: all 0.3s;
}

.news .subscribe-form__input:invalid {
  color: #d31414;
  border: 0.7px solid #d31414;
  transition: all 0.3s;
}

.news .subscribe-form__input:invalid::placeholder {
  color: #d31414;
  transition: all 0.3s;
}

.news .subscribe-form__input:invalid + .subscribe-form__button {
  border: 1px solid #d31414;
  color: #d31414;
  transition: all 0.3s;
}

.info {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  gap: 88px;
}

.info__social .socials {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
}

.info__social .socials__item .link {
  display: flex;
  align-items: center;
  gap: 12px;
}

.info__social .socials__item .link .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  background-color: rgba(196, 196, 196, 0.5);
  border-radius: 50%;
  transition: all 0.3s;
}

.info__social .socials__item .link .title {
  font-size: 16px;
  line-height: 140%;
  transition: all 0.3s;
}

.info__social .socials__item:hover .icon {
  background: #4b9200;
  transition: all 0.3s;
}

.info__social .socials__item:hover .title {
  color: #4b9200;
  transition: all 0.3s;
}

.info .nav .menu {
  display: flex;
  gap: 58px;
  font-size: 16px;
  line-height: 140%;
  list-style: none;
}

.info .nav .menu__item {
  white-space: nowrap;
}

.info__copyright {
  justify-self: end;
  font-size: 16px;
  line-height: 130%;
}

.info__copyright .link_info {
  position: relative;
  cursor: pointer;
}

.info__copyright .link_info:hover {
  color: #4b9200;
}

.info__copyright .link_info:hover::after {
  content: "";
  display: block;
  width: 99%;
  border: 0.5px solid #4b9200;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -3px;
}

.info__copyright .author {
  margin-bottom: 10px;
}

.none {
  display: none;
}

@media screen and (max-width: 1599px) {
  .backstage-section::after {
    max-width: 10%;
  }
}

@media screen and (max-width: 1440px) {
  .backstage-section::after {
    max-width: 4%;
  }
  .animals-section .animals-container .animals-wrapper .button-container_left {
    left: 34.37%;
  }
  .animals-section .animals-container .animals-wrapper .button-container_right {
    right: 34.37%;
  }
  .animals-section .animals-container .animals-wrapper .animals {
    gap: 93px 30px;
  }
}

@media screen and (max-width: 1220px) {
  .backstage-section::after {
    display: none;
  }
  .testimonials-section .testimonials {
    padding-top: 101px;
  }
  .testimonials-section .testimonials .title {
    margin-bottom: 31px;
  }
  .testimonials-section .testimonials .feedbacks__item .user__name {
    width: min-content;
  }
  .testimonials-section .testimonials .feedbacks__item .user__meta {
    flex-direction: column;
    gap: 0;
  }
  .testimonials-section .testimonials .feedbacks__item .user__date::before {
    display: none;
  }
}

@media screen and (max-width: 1000px) {
  .header {
    background-color: #111115;
  }
  .header .nav ul.menu {
    gap: 48px;
  }
  .watch-section {
    height: 584px;
  }
  .watch-section .wrapper-content .watch {
    padding-top: 124px;
    padding-right: 12px;
    gap: 40px;
  }
  .watch-section .wrapper-content .watch .watch-container .circle {
    width: 367px;
    height: 367px;
    top: 69px;
    left: -14px;
  }
  .watch-section .wrapper-content .watch .watch-container .promo-text {
    font-size: 85px;
  }
  .backstage-section {
    padding: 100px 0 142px;
  }
  .backstage-section::after {
    display: none;
  }
  .backstage-section .backstage .image-container {
    flex: 0 10 609px;
    align-items: center;
  }
  .animals-section {
    padding-bottom: 139px;
  }
  .animals-section::before {
    background-image: url("../../assets/images/palm_small-desktop.png");
    max-width: 19.25%;
  }
  .animals-section::after {
    max-width: 24%;
  }
  .animals-section .animals-container .animals-wrapper .animals__item.makeNone {
    display: none;
  }
  .animals-section .animals-container .animals-wrapper .animals__item.makeDisplay {
    display: block;
  }
  .animals-section .animals-container .animals-wrapper .animals__item:nth-child(1) {
    order: -3;
  }
  .animals-section .animals-container .animals-wrapper .animals__item:nth-child(2) {
    order: -3;
  }
  .animals-section .animals-container .animals-wrapper .animals__item:nth-child(3) {
    order: 0;
  }
  .animals-section .animals-container .animals-wrapper .animals__item:nth-child(4) {
    order: 0;
  }
  .animals-section .animals-container .animals-wrapper .animals__item:nth-child(5) {
    order: -2;
  }
  .animals-section .animals-container .animals-wrapper .animals__item:nth-child(6) {
    order: 3;
  }
  .animals-section .animals-container .animals-wrapper .animals__item:nth-child(7) {
    order: 0;
  }
  .feed-section {
    padding: 30px 0 50px;
  }
  .feed-section .feed-container {
    padding: 31px 48px 50px 49px;
  }
  .feed-section .feed-container .instructions {
    margin-bottom: 71px;
  }
  .feed-section .feed-container .feed__title {
    margin-top: 40px;
  }
  .feed-section .feed-container .feed__title_color {
    margin-top: 0;
  }
  .feed-section .feed-container .feed__subtitle {
    padding: 21px 0 20px;
  }
  .feed-section .feed-container .feed__text_long {
    width: 94%;
  }
  .feed-section .feed-container .feed__text_short {
    width: 95%;
  }
  .feed-section .feed-container .feed__text_short .emergency::after {
    bottom: 0;
  }
  .testimonials-section::after {
    bottom: -88px;
    max-width: 19.8%;
  }
  .testimonials-section .testimonials {
    padding-top: 101px;
    padding-bottom: 140px;
  }
  .testimonials-section .testimonials .range {
    margin-bottom: 52px;
    width: 41.637931%;
  }
  .testimonials-section .testimonials .title {
    margin-bottom: 31px;
  }
  .testimonials-section .testimonials .feedbacks {
    display: flex;
  }
  .testimonials-section .testimonials .feedbacks__item .feedback {
    padding-right: 10px;
  }
  .testimonials-section .testimonials .feedbacks__item.makeNone {
    display: none;
  }
  .testimonials-section .testimonials .feedbacks__item.makeDisplay {
    display: block;
  }
  .testimonials-section .testimonials .feedbacks__item.makeDisplay_morePad .feedback {
    padding-right: 11px;
  }
  .testimonials-section .testimonials .feedbacks__item .user__name {
    width: auto;
  }
  .testimonials-section .testimonials .feedbacks__item .user__meta {
    flex-direction: row;
    gap: 16px;
  }
  .testimonials-section .testimonials .feedbacks__item .user__date::before {
    display: block;
  }
  .testimonials-section .testimonials .feedback__item .user__meta {
    flex-direction: column;
  }
  .footer-content .news {
    margin-right: 31px;
  }
  .footer-content .info {
    grid-template-columns: 1.07fr 0.7fr 1.23fr;
  }
  .footer-content .info .nav .menu {
    gap: 48px;
  }
}

@media screen and (max-width: 800px) {
  .header .nav ul.menu {
    gap: 40px;
  }
  .feed-section .feed-container .instructions {
    display: flex;
    justify-content: space-between;
    gap: 0px;
  }
  .feed-section .feed-container .instructions__item {
    position: relative;
  }
  .feed-section .feed-container .instructions__item:nth-child(3)::after {
    content: "";
    width: 89px;
    height: 29px;
    background-image: url("../../assets/icons/arrow_green.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -17px;
    left: -73px;
    z-index: 10;
  }
  .feed-section .feed-container .instructions__item:nth-child(5)::before {
    content: "";
    width: 89px;
    height: 29px;
    background-image: url("../../assets/icons/arrow_green.svg");
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: -18px;
    left: -75px;
    z-index: 10;
  }
  .feed-section .feed-container .instructions .arrow {
    display: none;
  }
  .testimonials-section .testimonials .feedbacks__item .user__name {
    width: min-content;
  }
  .testimonials-section .testimonials .feedbacks__item .user__meta {
    flex-direction: column;
    gap: 0;
  }
  .testimonials-section .testimonials .feedbacks__item .user__date::before {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .header .wrapper-content {
    gap: 32px;
  }
  .header .wrapper-content .nav ul.menu {
    gap: 24px;
  }
  .footer-content .info {
    gap: 40px;
  }
  .footer-content .info .nav .menu {
    gap: 20px;
  }
}

@media screen and (max-width: 640px) {
  .tabletNone {
    display: none;
  }
  .tabletDisplay {
    display: unset;
  }
  .wrapper-content {
    padding: 0 3.175%;
  }
  .header {
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 3px 0 2px;
    font-size: 16px;
    line-height: 140%;
  }
  .header .makeNone {
    display: none;
  }
  .header .wrapper-content .logo {
    font-size: 12.29px;
    line-height: 120%;
    border: none;
  }
  .header .wrapper-content .logo:hover {
    border: none;
  }
  .header .wrapper-content .logo .link {
    padding: 0 0;
  }
  .header .wrapper-content .logo svg {
    width: 13px;
    height: 14px;
    top: 12px;
    left: 0px;
  }
  .header .wrapper-content .nav ul.menu.makeNone {
    display: none;
  }
  .header .wrapper-content .burger-button {
    width: 18px;
    justify-self: end;
    gap: 2px;
    margin-bottom: 3px;
    transition: all 0.3s;
  }
  .header .wrapper-content .burger-button.makeDisplay {
    display: grid;
  }
  .header .wrapper-content .burger-button:hover {
    transform: rotate(90deg);
    gap: 4px;
  }
  .header .wrapper-content .burger-button:hover .line {
    border-color: #fe9013;
  }
  .header .wrapper-content .burger-button .line {
    transition: all 0.3s;
    border: 1px solid #ffffff;
    border-radius: 1px;
  }
  .watch-section {
    height: 373px;
  }
  .watch-section .wrapper-content .watch {
    width: 100%;
    align-items: flex-end;
    padding-top: 83px;
    padding-right: 3px;
  }
  .watch-section .wrapper-content .watch .watch-container {
    position: relative;
    width: 243px;
  }
  .watch-section .wrapper-content .watch .watch-container .circle {
    width: 237.6px;
    height: 237.6px;
    top: -39px;
    left: -43px;
  }
  .watch-section .wrapper-content .watch .watch-container .promo-text {
    font-size: 54.29px;
  }
  .watch-section .wrapper-content .watch .button, .watch-section .wrapper-content .watch .animals-section .animals-container .animals-wrapper .button-container_left, .animals-section .animals-container .animals-wrapper .watch-section .wrapper-content .watch .button-container_left {
    position: relative;
    top: -48px;
    align-self: flex-start;
  }
  .backstage-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .backstage-section::after {
    display: block;
    max-width: 20.4%;
    top: -5px;
    height: 95%;
  }
  .backstage-section .backstage {
    display: block;
    width: 80%;
  }
  .backstage-section .backstage .image-container.makeNone {
    display: none;
  }
  .backstage-section .backstage .text-container .title {
    padding-left: 4px;
  }
  .backstage-section .backstage .text-container .text {
    padding: 21px 0;
    line-height: 130%;
  }
  .backstage-section .backstage .text-container .text_main {
    padding: 20px 0;
    line-height: 137%;
    width: 104%;
  }
  .backstage-section .backstage .text-container .subtitle {
    margin: 10px 4px 0px;
  }
  .animals-section {
    padding-bottom: 100px;
  }
  .animals-section::before {
    max-width: 30%;
    left: -59px;
  }
  .animals-section:after {
    max-width: 27%;
  }
  .animals-section .animals-container {
    gap: 60px;
  }
  .animals-section .animals-container .animals-wrapper .animals {
    grid-template-columns: 1fr 1fr;
  }
  .animals-section .animals-container .animals-wrapper .animals__item.makeHide {
    display: none;
  }
  .animals-section .animals-container .animals-wrapper .animals__item .text-container {
    padding: 4px 14px 10px 12px;
  }
  .animals-section .animals-container .animals-wrapper .animals__item .text-container .title {
    font-size: 12.47px;
  }
  .animals-section .animals-container .animals-wrapper .animals__item .text-container .text {
    font-size: 11.69px;
  }
  .animals-section .animals-container .animals-wrapper .animals .meat .text-container::after {
    width: 37px;
    height: 27px;
    top: 3px;
    right: 6px;
  }
  .animals-section .animals-container .animals-wrapper .animals .vegan .text-container::after {
    width: 27px;
    height: 29px;
    top: 3px;
    right: 9px;
  }
  .animals-section .animals-container .animals-wrapper .button-container_left {
    left: 37.2%;
  }
  .animals-section .animals-container .animals-wrapper .button-container_right {
    right: 37.2%;
  }
  .feed-section {
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .feed-section .wrapper-content {
    padding: 0;
  }
  .feed-section .feed-container {
    padding: 10px 20px 60px;
  }
  .feed-section .feed-container .feed__title {
    margin-top: 30px;
    margin-bottom: 21px;
    font-size: 36px;
  }
  .feed-section .feed-container .feed__title_color {
    margin: 0;
    font-size: 42px;
  }
  .feed-section .feed-container .feed__subtitle {
    padding-top: 20px;
    font-size: 22px;
  }
  .feed-section .feed-container .feed__text {
    width: 100%;
  }
  .feed-section .feed-container .instructions {
    margin-bottom: 40px;
    justify-content: space-between;
    padding-right: 12px;
  }
  .testimonials-section::after {
    bottom: -70px;
    max-width: 19.4%;
    right: -7px;
  }
  .testimonials-section .testimonials {
    padding-top: 60px;
    padding-bottom: 79px;
  }
  .testimonials-section .testimonials .feedbacks {
    flex-direction: column;
    gap: 18px;
    margin-bottom: 42px;
  }
  .testimonials-section .testimonials .feedbacks__item {
    padding: 14px 15px 7px 12px;
  }
  .testimonials-section .testimonials .feedbacks__item:nth-child(5) {
    padding: 10px 15px 11px 12px;
  }
  .testimonials-section .testimonials .feedbacks__item:nth-child(5) .user {
    gap: 6px;
  }
  .testimonials-section .testimonials .feedbacks__item .feedback {
    height: 37px;
    padding-left: 6px;
  }
  .testimonials-section .testimonials .feedbacks__item .feedback:active {
    height: auto;
  }
  .testimonials-section .testimonials .feedbacks__item .feedback.makeHide {
    display: none;
  }
  .testimonials-section .testimonials .feedbacks__item .feedback.makeVisible {
    display: block;
  }
  .testimonials-section .testimonials .feedbacks__item .user__name {
    width: auto;
  }
  .testimonials-section .testimonials .feedbacks__item .user__meta {
    flex-direction: row;
    gap: 16px;
  }
  .testimonials-section .testimonials .feedbacks__item .user__date::before {
    display: block;
    left: -10px;
  }
  .testimonials-section .testimonials .range {
    display: none;
  }
  .testimonials-section .testimonials__button {
    align-self: center;
    width: 240px;
  }
  .footer {
    position: relative;
    padding: 13px 0 0;
  }
  .footer-content .news__subscribe {
    display: none;
  }
  .footer-content .donate {
    padding: 33px 0 67px;
  }
  .footer-content .info {
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }
  .footer-content .info__social {
    position: absolute;
    top: 12px;
    right: 20px;
  }
  .footer-content .info__social .socials {
    gap: 20px;
  }
  .footer-content .info__social .socials__item .link .title {
    display: none;
  }
  .footer-content .info .nav .menu {
    gap: 37px;
  }
}

@media screen and (max-width: 600px) {
  .watch-section {
    height: 421px;
  }
  .watch-section .wrapper-content .watch .button, .watch-section .wrapper-content .watch .animals-section .animals-container .animals-wrapper .button-container_left, .animals-section .animals-container .animals-wrapper .watch-section .wrapper-content .watch .button-container_left {
    position: static;
    align-self: flex-start;
  }
  .animals-section .animals-container {
    gap: 20px;
  }
  .animals-section .animals-container .animals-wrapper .animals {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .animals-section .animals-container .animals-wrapper .button-container {
    display: none;
  }
  .feed-section .feed-container {
    justify-content: center;
  }
  .feed-section .feed-container .instructions {
    margin-bottom: 40px;
    padding-right: 0;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .feed-section .feed-container .instructions__item {
    position: relative;
  }
  .feed-section .feed-container .instructions__item:nth-child(3)::after {
    top: -53px;
    left: 140px;
    transform: rotate(84deg);
  }
  .feed-section .feed-container .instructions__item:nth-child(5)::before {
    top: -52px;
    left: 140px;
    transform: rotate(84deg);
  }
  .footer-content .info {
    gap: 36px;
  }
  .footer-content .info .nav .menu {
    gap: 24px;
  }
}

@media screen and (max-width: 430px) {
  .footer .footer-content .news {
    margin: 0;
    padding-top: 6px;
  }
  .footer .footer-content .news .news__logo {
    border: none;
    width: 100%;
  }
  .footer .footer-content .news .news__logo .link {
    position: relative;
  }
  .footer .footer-content .news .news__logo .link svg {
    top: -1px;
    left: 76px;
  }
  .footer .footer-content .donate {
    padding: 83px 0 28px;
    text-align: center;
  }
  .footer .footer-content .info {
    grid-template-columns: none;
    gap: 29px;
  }
  .footer .footer-content .info .info__social {
    top: 73px;
    right: 50%;
    transform: translate(50%);
  }
  .footer .footer-content .info .info__social .socials {
    flex-direction: row;
    gap: 30px;
  }
  .footer .footer-content .info .nav .menu {
    width: 93%;
    margin: auto;
    justify-content: space-between;
  }
  .footer .footer-content .info .info__copyright {
    order: -1;
    font-size: 15px;
  }
  .footer .footer-content .info .info__copyright .author {
    margin-bottom: 12px;
  }
}

@media screen and (max-width: 320px) {
  .mobileNone {
    display: none;
  }
  .mobileDisplay {
    display: unset;
  }
  .header .wrapper-content .burger-button {
    margin-bottom: 1px;
  }
  .watch-section {
    margin-top: 34px;
    margin-bottom: 104px;
    height: 187px;
  }
  .watch-section .wrapper-content .watch {
    padding-top: 41px;
  }
  .watch-section .wrapper-content .watch .watch-container {
    margin-bottom: 20px;
    width: 41%;
  }
  .watch-section .wrapper-content .watch .watch-container .circle {
    width: 119.09px;
    height: 119.09px;
    top: -19px;
    left: -22px;
  }
  .watch-section .wrapper-content .watch .watch-container .promo-text {
    font-size: 28px;
  }
  .watch-section .wrapper-content .watch .watch-container .promo-text_yellow {
    margin-left: -3px;
  }
  .watch-section .wrapper-content .watch .button, .watch-section .wrapper-content .watch .animals-section .animals-container .animals-wrapper .button-container_left, .animals-section .animals-container .animals-wrapper .watch-section .wrapper-content .watch .button-container_left {
    align-self: center;
  }
  .backstage-section {
    padding-top: 0;
    padding-bottom: 31px;
  }
  .backstage-section::after {
    max-width: 10%;
    top: -66px;
    height: 51%;
  }
  .backstage-section .backstage .text-container .title {
    padding-left: 0;
    font-size: 24px;
  }
  .backstage-section .backstage .text-container .text {
    margin-left: 2px;
    padding: 10px 0;
    width: 119%;
    line-height: 132%;
  }
  .backstage-section .backstage .text-container .text_main {
    width: 123%;
    margin-left: 0;
    line-height: 137%;
  }
  .backstage-section .backstage .text-container .subtitle {
    margin: 10px 2px 0px;
  }
  .animals-section {
    padding-bottom: 60px;
  }
  .animals-section::before {
    max-width: 22%;
    left: -12px;
  }
  .animals-section:after {
    background-image: url("../../assets/images/strelitzia_mobile.png");
    max-width: 23%;
    bottom: -12px;
    right: 0;
  }
  .animals-section .wrapper-content {
    padding: 0px 5.43%;
  }
  .animals-section .animals-container {
    gap: 20px;
  }
  .animals-section .animals-container .animals-wrapper .animals {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .animals-section .animals-container .animals-wrapper .button-container {
    display: none;
  }
  .feed-section .wrapper-content {
    padding: 0 3.175%;
  }
  .feed-section .feed-container {
    justify-content: center;
    padding: 21px 9px 40px;
  }
  .feed-section .feed-container .feed__title {
    margin-top: 0;
    margin-bottom: 19px;
    font-size: 24px;
  }
  .feed-section .feed-container .feed__title_color {
    margin: 0;
  }
  .feed-section .feed-container .feed__subtitle {
    padding-top: 10px;
    padding-bottom: 19px;
    margin-left: -3px;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
  }
  .feed-section .feed-container .instructions {
    margin-bottom: 40px;
    gap: 26px;
  }
  .feed-section .feed-container .instructions .instructions__item {
    gap: 9px;
  }
  .feed-section .feed-container .instructions .instructions__item:first-child .text {
    padding-bottom: 18px;
  }
  .feed-section .feed-container .instructions .instructions__item:nth-child(3)::after {
    top: -53px;
    left: 140px;
    transform: rotate(84deg);
  }
  .feed-section .feed-container .instructions .instructions__item:nth-child(5)::before {
    top: -52px;
    left: 140px;
    transform: rotate(84deg);
  }
  .testimonials-section .wrapper-content {
    padding: 0 12px 0 13px;
  }
  .testimonials-section::after {
    background-image: url("../../assets/images/leav_mobile.png");
    bottom: -30px;
    max-width: 16%;
    right: 0px;
  }
  .testimonials-section .testimonials {
    padding-top: 30px;
    padding-bottom: 60px;
  }
  .testimonials-section .testimonials .title {
    font-size: 24px;
    margin-bottom: 20px;
  }
  .testimonials-section .testimonials .feedbacks {
    margin-bottom: 32px;
  }
  .testimonials-section .testimonials .feedbacks__item {
    padding: 7px 15px 13px 10px;
  }
  .testimonials-section .testimonials .feedbacks__item:nth-child(5) .feedback {
    padding-top: 0;
  }
  .testimonials-section .testimonials .feedbacks__item:nth-child(5) .user {
    gap: 4px;
  }
  .testimonials-section .testimonials .feedbacks__item:nth-child(5) .user__name {
    margin: 0;
  }
  .testimonials-section .testimonials .feedbacks__item .feedback {
    padding-top: 1px;
  }
  .testimonials-section .testimonials .feedbacks__item .user {
    gap: 6px;
  }
  .testimonials-section .testimonials .feedbacks__item .user__name {
    margin: 2px 0;
  }
}
