@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/Poppins-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Bird Stencil';
  src: url('./assets/fonts/BirdStencil.ttf');
}

@font-face {
  font-family: 'Nature';
  src: url('./assets/fonts/Nature.ttf');
}

%poppinsBlack {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
}

%poppinsBold {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}

%poppinsSemiBold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

%poppinsRegular {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
}

%birdStencil {
  font-family: 'Bird Stencil';
}

%nature {
  font-family: 'Nature';
}
