@font-face {
  font-family: 'InterTight';
  src: url('./assets/fonts/inter/InterTight-Black.ttf');
  font-weight: 900;
}

@font-face {
  font-family: 'InterTight';
  src: url('./assets/fonts/inter/InterTight-Bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: 'InterTight';
  src: url('./assets/fonts/inter/InterTight-SemiBold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'InterTight';
  src: url('./assets/fonts/inter/InterTight-Regular.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Bird Stencil';
  src: url('./assets/fonts/BirdStencil.ttf');
}

@font-face {
  font-family: 'Nature';
  src: url('./assets/fonts/Nature.ttf');
}

%InterTightBlack {
  font-family: 'InterTight', sans-serif;
  font-weight: 900;
}

%InterTightBold {
  font-family: 'InterTight', sans-serif;
  font-weight: 700;
}

%InterTightSemiBold {
  font-family: 'InterTight', sans-serif;
  font-weight: 600;
}

%InterTightRegular {
  font-family: 'InterTight', sans-serif;
  font-weight: 400;
}

%birdStencil {
  font-family: 'Bird Stencil';
}

%nature {
  font-family: 'Nature';
}
