@import './variables';
@import './fontFaces';

.header {
  padding: 1.5rem 2rem;
  background: $blockBackgroundColor;
  border-radius: 1rem;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  @extend %poppinsRegular;

  &__item {
    position: relative;
    z-index: 10;
    color: $subTextColor;
    cursor: pointer;
    transition: color $s;

    &:not(:first-child)::after {
      content: '';
      position: absolute;
      z-index: -1;
      left: 50%;
      bottom: -0.4rem;
      width: 0;
      height: 0.2rem;
      background-color: $accentGreenColor;
      transform: translate(-50%);
      transition: width $s;
    }

    &:hover {
      color: inherit;

      &::after {
        width: 60%;
      }
    }

    &_active {
      color: $accentGreenColor;

      &:hover {
        color: $accentGreenColor;
      }

      &:not(:first-child)::after {
        content: none;
      }
    }
  }
}

@media screen and (max-width: 500px) {
  .menu {
    flex-wrap: wrap;
    justify-content: center;

    &__item:first-child {
      width: 100%;
      text-align: center;
    }
  }
}
