@import './variables';
@import './fontFaces';

.logo {
  margin: 0;
  padding: 0;
  margin-right: auto;
  position: relative;
  z-index: 10;
  @extend %nature;
  font-size: 1.5em;
  color: inherit;

  &__parrot {
    position: relative;
    top: 0.2em;
    padding-left: 0.1em;
    @extend %birdStencil;
    font-weight: 100;
    font-size: inherit;
    color: inherit;
    transition: color $s;
  }

  .logo__link {
    position: relative;
    display: inline-block;
    height: 100%;

    &_color {
      transition: color $s;
    }

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      left: 0;
      top: -0.1em;
      width: 0;
      height: 100%;
      background: $nationalGeographicColor;
      border-radius: 0.2rem;
      opacity: 0;
      transition: width $s, opacity $s;
    }
  }

  &:hover {
    .logo__parrot {
      color: $parrotColor;
    }

    .logo__link {
      &_color {
        color: $parrotColor;
      }

      &::before {
        width: 0.9em;
        opacity: 1;
      }
    }
  }
}
