@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-360deg);
  }
}

.player {
  width: 100%;
  display: grid;
  grid-template-columns: 5fr 2fr;
  gap: 1rem;
  align-self: end;
  font-size: 1.2rem;

  &__wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__button {
    width: 100%;
    height: 100%;
    max-width: 3rem;
    max-height: 3rem;

    svg {
      fill: $headTextColor;
      transition: fill $s;
    }

    &:hover {
      svg {
        fill: $nationalGeographicColor;
      }
    }

    &.play {
      max-width: 2rem;
    }
  }

  &__line {
    flex-grow: 1;
    height: 0.5em;
    background: $mainTextColor;
    border-radius: 0.5em;
  }

  &__duration {
    position: relative;
    top: -1rem;
    padding-left: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;

    &_spin {
      animation: spin 2s infinite;
    }
  }
}

.line {
  display: flex;
  align-items: center;

  &__progress {
    position: relative;
    height: 100%;
    width: 0%;
    background: $headTextColor;
    border-radius: 0.5em;
  }

  &__thumb {
    position: absolute;
    right: 0;
    top: 50%;
    flex-grow: 0;
    width: 1em;
    height: 1em;
    background: $nationalGeographicColor;
    border-radius: 50%;
    transform: translate(50%, -50%);
    cursor: pointer;
  }
}

.play {
  &__stop {
    display: none;
  }

  &__go {
    display: block;
  }
}

.play_pause {
  .play__stop {
    display: block;
  }

  .play__go {
    display: none;
  }
}

.volume {
  &__off {
    display: none;
  }

  &__on {
    display: block;
  }
}

.volume_mute {
  .volume__off {
    display: block;
  }

  .volume__on {
    display: none;
  }
}
