.quiz {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  gap: 2rem;

  &__button {
    place-self: center;
    padding: 0.5rem 4rem;
    @extend %InterTightSemiBold;
    text-transform: uppercase;
    background: $blockBackgroundColorLight;
    border: 0.2rem solid $accentGreenColor;
    border-radius: 0.5rem;
    transition: color $s, background $s, opacity $s;

    &:hover {
      color: $blockBackgroundColor;
      background: $accentGreenColor;
    }

    &:disabled {
      border-color: transparent;
      opacity: 0.5;

      &:hover {
        background: $blockBackgroundColorLight;
        color: $headTextColor;
        opacity: 0.6;
      }
    }
  }

  .game {
    display: flex;
    align-items: flex-start;
    gap: 2rem;

    &__choices {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      flex-shrink: 1;
      min-width: max-content;
      width: 50%;
      padding: 1rem 0;
      background: $blockBackgroundColorLight;
      border-radius: 1rem;
    }

    &__description {
      display: grid;
      gap: 1rem;
      flex-shrink: 2;
    }
  }
}

.choices {
  &__option {
    width: 100%;
    padding: 0.5rem 2rem;
    position: relative;
    display: flex;
    align-items: center;
    gap: 2rem;
    transition: color $s;
    cursor: pointer;

    &_correct {
      color: $accentGreenColor;
    }

    &_incorrect {
      color: $parrotColor;
    }

    &:hover {
      .choices__label::after {
        width: 60%;
      }
    }
  }

  &__input {
    appearance: none;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.2rem solid $mainTextColor;
    cursor: pointer;
    transition: background $s, border-color $s;

    &_correct {
      border-color: $accentGreenColor;
      background: $accentGreenColor;
    }

    &_incorrect {
      border-color: $parrotColor;
      background: $parrotColor;
    }
  }

  &__label {
    position: relative;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      z-index: 10;
      left: 50%;
      bottom: -0.4rem;
      width: 0;
      height: 0.2rem;
      background: $nationalGeographicColor;
      transform: translate(-50%);
      transition: width $s;
    }
  }
}

.questions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;

  &__list {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1.5rem 2rem;
    background: $blockBackgroundColorLight;
    border-radius: 1rem;
  }

  &__score {
    margin: 0;
    padding: 1.5rem 3rem;
    background: $blockBackgroundColor;
    border-radius: 1rem;
    color: $parrotColor;
    white-space: nowrap;
  }

  &__level {
    position: relative;
    color: $mainTextColor;

    &::after {
      content: '';
      position: absolute;
      z-index: 10;
      left: 50%;
      bottom: -0.4rem;
      // width: 60%;
      width: 0;
      height: 0.2rem;
      background: $accentGreenColor;
      transform: translate(-50%);
      transition: width $s;
    }

    &_active {
      color: $headTextColor;

      &::after {
        content: '';
        // position: absolute;
        // z-index: 10;
        // left: 50%;
        // bottom: -0.4rem;
        width: 60%;
        // height: 0.2rem;
        // background: $accentGreenColor;
        // transform: translate(-50%);
        // transition: width $s;
      }
    }
  }
}


.description {
  width: 100%;
  padding: 1.5rem 2rem;
  background: $blockBackgroundColorLight;
  border-radius: 1rem;

  &__image {
    margin: auto;
    width: 40%;
    height: 100%;
    max-height: unset;
    border-radius: 1rem;
  }

  &__caption {
    flex-grow: 1;
    gap: 0;

    .player {
      margin-top: 2rem;
    }
  }

  &__text {
    position: relative;
    color: $mainTextColor;

    &::before {
      content: '';
      position: absolute;
      top: -1rem;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: $nationalGeographicColor;
      border-radius: 0.1rem;
    }
  }
}

.unknown {
  height: 100%;
  padding: 1.5rem 2rem;
  background: $blockBackgroundColorLight;
  border-radius: 1rem;

  &__image {
    height: 100%;
    max-height: 128px;
    border-radius: 1rem;
  }

  &__caption {
    flex-grow: 1;
    gap: 1rem;
  }

  &__text {
    position: relative;
    color: $mainTextColor;

    &::before {
      content: '';
      position: absolute;
      top: -1rem;
      left: 0;
      width: 100%;
      height: 0.2rem;
      background-color: $nationalGeographicColor;
      border-radius: 0.1rem;
    }
  }
}


.caption {
  display: grid;
  align-items: start;

  &__header {
    margin: 0;
    color: $parrotColor;
  }

  &__subheader {
    margin: 0;
  }
}

.wrapper__description,
.wrapper__unknown {
  display: flex;
  gap: 2rem;
}

@media screen and (max-width: 1000px) {
  .wrapper__description {
    flex-direction: column;
  }

  .description {
    &__image {
      max-height: unset;
      width: fit-content;
      max-width: 100%;
    }
  }
}

@media screen and (max-width: 800px) {
  .quiz {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 2rem;

    &__button {
      width: 100%;
    }

    .game {
      flex-direction: column;
      align-items: center;

      &__choices {
        width: 100%;
      }
    }
  }

  .wrapper__description {
    flex-direction: column;
  }

  .wrapper__unknown {
    flex-direction: column;
  }

  .unknown {
    &__image {
      margin: auto;
      max-height: unset;
      width: 30%;
    }

    .caption {
      &__header {
        margin: auto;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .questions {
    flex-direction: column;

    &__score {
      width: 100%;
      text-align: center;
    }
  }
}
