@import './variables';

.svg_rss {
  .st0 {
    fill: $mainBackgroundColor;
  }

  .st1 {
    fill: $mainBackgroundColor;
    clip-path: url(#SVGID_2_);
  }

  .st2 {
    fill: $mainBackgroundColor;
    clip-path: url(#SVGID_4_);
  }

  .st3 {
    clip-path: url(#SVGID_6_);
  }

  .st4 {
    clip-path: url(#SVGID_8_);
  }

  .st5 {
    fill: $mainBackgroundColor;
    stroke: $mainBackgroundColor;
    stroke-width: 4;
    stroke-miterlimit: 10
  }

  .st6 {
    clip-path: url(#SVGID_8_)
  }

  .st6,
  .st7 {
    stroke: $mainBackgroundColor;

    stroke-width: 4;
    stroke-miterlimit: 10
  }

  .st8,
  .st9 {
    clip-path: url(#SVGID_10_)
  }

  .st9 {
    fill: $mainBackgroundColor;

    stroke: #000;
    stroke-width: 4;
    stroke-miterlimit: 10
  }
}
