$headTextColor: #ffffff;
$mainTextColor: #d9dad3;
$subTextColor: #b3b3b3;
$mainBackgroundColor: #13140d;
$blockBackgroundColor: #30312d;
$blockBackgroundColorHover: #363636;
$accentGreenColor: #bede61;
$accentOrangeColor: #fec158;
$nationalGeographicColor: #f4c41a;
$parrotColor: #f4541a;
