# npm init -y
# npm install webpack webpack-cli --save-dev
# npm install webpack-dev-server --save-dev
# npm install --save-dev html-webpack-plugin
# npm install --save-dev html-loader
# npm install --save-dev style-loader
# npm install --save-dev css-loader
# npm install --save-dev mini-css-extract-plugin
# npm install sass-loader sass -D
# npm install --save-dev postcss-loader postcss postcss-preset-env
# npm install -D babel-loader @babel/core @babel/preset-env
# npm install --save @babel/polyfill
# npm install image-webpack-loader --save-dev
# npm i --save lodash
# npx install-peerdeps --dev eslint-config-airbnb-base

# UNCOMMIT FOR

# FOLDERS
temp
node_modules
build
.cache
.temp

# FILES
**/.DS_Store
*LICENSE*
