@import './styles/variables';
@import './styles/basicStyles';
@import './styles/fontFaces';
@import './styles/header';
@import './styles/logo';

html {
  @extend %poppinsRegular;
  font-size: 62.5%;
  color: $headTextColor;
  background: $mainBackgroundColor;
}

body {
  font-size: 2.4rem;
  padding: 2rem;
}

main {
  min-height: 100%;
}

.prevent-transition * {
  transition: none !important;
}
