@import './styles/variables';
@import './styles/customNormilize';
@import './styles/fontFaces';
@import './styles/header';
@import './styles/logo';
@import './styles/wrapper';
@import './styles/welcome';
@import './styles/result';
@import './styles/quiz';
@import './styles/footer';
@import './styles/svgRss';
@import './styles/buttons';

// text-transform: uppercase;

html {
  @extend %poppinsRegular;
  font-size: 62.5%;
  color: $headTextColor;
  background: $mainBackgroundColor;
}

body {
  margin: 0;
  font-size: 2.4rem;
}

.prevent-transition * {
  transition: none !important;
}

#app {
  margin: auto;
  max-width: 1600px;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  gap: 3rem;
  flex-direction: column;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  html {
    font-size: 55%;
  }
}

@media screen and (max-width: 400px) {
  html {
    font-size: 45%;
  }
}
