$green: #4b9200;
$orange: linear-gradient(113.96deg, #f9804b 1.49%, #fe9013 101.44%);
$orangeSecond: linear-gradient(113.96deg, #fa6f32 1.49%, #fe9013 101.44%);
$yellow: #ffee2e;
$orangeGradient: linear-gradient(
    315.75deg,
    rgba(254, 210, 144, 0.7) 30.06%,
    #febdab 100.95%,
    rgba(254, 210, 144, 0.7) 106.36%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );
$pinkGradient: linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  ),
  linear-gradient(
    315.75deg,
    rgba(254, 189, 171, 0.74) 30.06%,
    rgba(243, 169, 248, 0.66) 50.74%,
    #e0d8f0 80.49%,
    #eaf7fe 127.9%,
    #eaf7fe 149.54%
  );
$red: #d31414;
$black: #000000;
$blackBlue: #333b41;
$gray: #767474;
$graySmoky: #ababab;
$grayLight: #f1f3f2;
$white: #ffffff;
$whiteFrostedGlass: rgba(253, 253, 255, 0.52);

$desktopWidth: 1600px;
$maxWidth: (($desktopWidth - 220px * 2) / $desktopWidth) * 100%;

@font-face {
  font-family: "Roboto", sans-serif;
  src: url("../../fonts/Roboto-Bold.ttf"), url("../../fonts/Roboto-Light.ttf"), url("../../fonts/Roboto-Medium.ttf"),
    url("../../fonts/Roboto-Regular.ttf");
}

%font-family {
  font-family: "Roboto", sans-serif;
}

%font-thin {
  @extend %font-family;
  font-weight: 100;
}

%font-bold {
  @extend %font-family;
  font-weight: 700;
}

%font-light {
  @extend %font-family;
  font-weight: 300;
}

%font-medium {
  @extend %font-family;
  font-weight: 500;
}

%font-regular {
  @extend %font-family;
  font-weight: 400;
}

%button {
  $s: 0.3s;
  padding: 16px;
  width: 298px;
  @extend %font-medium;
  color: $white;
  line-height: 140%;
  text-transform: uppercase;
  background: #f9804b;
  background-image: $orange;
  border: none;
  cursor: pointer;
  transition: all $s;
  &:hover {
    background: #e47209;
    transition: all $s;
  }
  &:active {
    background: $green;
    transition: all $s;
  }
  &:disabled {
    background: $gray;
    transition: all $s;
  }
}

%button_small-radius {
  @extend %button;
  border-radius: 5px;
}

%button_big-radius {
  @extend %button;
  border-radius: 25px;
}

%small-button {
  padding: 10px 39px;
  @extend %font-regular;
  font-size: 16px;
  line-height: 140%;
  background-color: $grayLight;
  color: $blackBlue;
  border: 1px solid $blackBlue;
  border-radius: 5px;
  cursor: pointer;
}

%logo {
  position: relative;
  width: min-content;
  .link {
    padding: 2px 4px;
  }
  @extend %font-regular;
  font-size: 1.188125em;
  line-height: 120%;
  border: 1px solid $white;
  border-radius: 2px;
  text-align: center;
  svg {
    position: absolute;
    top: 22px;
    left: 9px;
    path {
      transition: all 0.3s;
    }
  }
  transition: all 0.3s;
  &:hover {
    transition: all 0.3s;
    border: 1px solid #fe9013;
    svg path {
      transition: all 0.3s;
      fill: #fe9013;
    }
  }
}

.link {
  display: inline-block;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #fe9013;
  }
}
.link_active {
  color: #fe9013;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.wrapper-content {
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 3%;
  box-sizing: content-box;
}

.header {
  & + .nav.burger-menu {
    @extend %font-regular;
  }

  position: absolute;
  width: 100%;
  padding: 14px 0;
  @extend %font-medium;
  font-size: 16px;
  color: $white;
  background-color: $black;
  z-index: 2;
  .wrapper-content {
    display: grid;
    // grid-template-columns: repeat(2, auto) 1fr;
    grid-template-columns: auto 1fr;
    justify-content: start;
    align-items: center;
    gap: 63px;
    .logo {
      @extend %logo;
    }
    .nav {
      display: flex;
      justify-content: space-between;
    }
    .nav ul {
      display: grid;
      grid-template-columns: repeat(5, auto);
      gap: 58px;
      white-space: nowrap;
      list-style: none;
      line-height: 140%;
    }
    .copyright {
      justify-self: end;
      white-space: nowrap;
      line-height: 140%;
    }
  }
}

.watch-section {
  height: 780px;
  background-image: url("../../assets/images/giant-panda-desktop.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  .wrapper-content {
    display: flex;
    justify-content: end;
    .watch {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 60px;
      padding-top: 166px;
      width: 500px;
      .circle {
        position: absolute;
        top: 92px;
        left: -73px;
        z-index: 0;
        width: 465px;
        height: 465px;
        background: $orange;
        border-radius: 50%;
      }
      .promo-text {
        position: relative;
        z-index: 1;
        @extend %font-bold;
        font-size: 106.496px;
        line-height: 75%;
        text-align: center;
        color: white;
        text-transform: uppercase;
        &_yellow {
          color: $yellow;
        }
      }
      &__button {
        @extend %button_big-radius;
        font-size: 16px;
        line-height: 140%;
      }
    }
  }
}

.backstage-section {
  position: relative;
  padding: 140px 0 177px;
  &::after {
    content: "";
    height: 85%;
    width: 100%;
    max-width: 12.75%;
    background-image: url("../../assets/images/flower_foto1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left center;
    position: absolute;
    top: 12px;
    right: 0;
    z-index: -1;
  }
  .backstage {
    display: flex;
    justify-content: space-between;
    gap: 31px;
    .image-container {
      flex: 0 10 609px;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: start;
    }
    .text-container {
      flex: 0 1 465px;
      color: $blackBlue;
      .title {
        margin: 0;
        @extend %font-regular;
        font-size: 48px;
        line-height: 120%;
      }
      .subtitle {
        margin: 34px 0;
        @extend %font-regular;
        font-size: 24px;
        line-height: 120%;
      }
      .text {
        padding: 20px 0;
        @extend %font-regular;
        font-size: 16px;
        line-height: 137%;
        &_main {
          padding: 0;
        }
      }
    }
  }
}

.animals-section {
  position: relative;
  padding-bottom: 100px;
  &::before {
    content: "";
    height: 100%;
    width: 100%;
    max-width: 18.25%;
    background-image: url("../../assets/images/palm.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    max-width: 23%;
    background-image: url("../../assets/images/strelitzia.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
  }
  .animals-container {
    display: flex;
    flex-direction: column;
    gap: 80px;
    .animals-wrapper {
      position: relative;
      .button-container {
        width: 62px;
        height: 62px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: -80px;
        z-index: 10;
        .button {
          @extend %button;
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
        &_left {
          @extend .button;
          left: -80px;
        }
      }
      .animals {
        width: 100%;
        $s: 0.5s;
        position: relative;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 30px;
        &__item {
          position: relative;
          background: $white;
          border-radius: 5px;
          transition: all $s;
          cursor: pointer;
          &:hover {
            background: $orange;
            transition: all $s;
            .image-container {
              transition: all $s;
              filter: brightness(0.5);
              overflow: hidden;
              .image {
                transition: all $s;
                transform: scale(1.0273224);
              }
            }
            .text-container {
              transition: all $s;
              top: -80px;
              color: $white;
              &::after {
                transition: all $s;
                opacity: 0;
              }
            }
          }
          &::before {
            content: "";
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: -1px;
            right: -1px;
            background: $orangeSecond;
            border-radius: 6px;
            z-index: -1;
          }
          .image-container {
            transition: all $s;
            border-radius: 5px 5px 0 0;
            position: relative;
            overflow: hidden;
            .image {
              transition: all $s;
              border-radius: 5px 5px 0 0;
              width: 100%;
            }
          }
          .text-container {
            position: relative;
            top: 0;
            padding: 6px 14px 14px;
            overflow: hidden;
            transition: all $s;
            .title {
              max-width: 75%;
              @extend %font-medium;
              font-size: 16px;
              text-transform: uppercase;
            }
            .text {
              max-width: 75%;
              @extend %font-light;
              font-size: 15px;
            }
          }
        }
        .meat .text-container::after {
          content: "";
          width: 48px;
          height: 38px;
          background-image: url("../../assets/icons/meet-fish.svg");
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          top: 4px;
          right: 8px;
          transition: all $s;
        }
        .vegan .text-container::after {
          content: "";
          width: 33px;
          height: 37px;
          background-image: url("../../assets/icons/banana-bamboo.svg");
          background-size: cover;
          background-repeat: no-repeat;
          position: absolute;
          top: 6px;
          right: 12px;
          transition: all $s;
        }
      }
    }
    .animals__button {
      align-self: center;
      @extend %button_big-radius;
      @extend %font-medium;
      line-height: 140%;
      font-size: 16px;
    }
  }
}

.feed-section {
  position: relative;
  padding: 69px 0 100px;
  // background: $orangeGradient;
  color: $blackBlue;
  &::before {
    content: " ";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
    background: $orangeGradient;
    z-index: -99;
  }
  .feed-container {
    display: grid;
    padding: 41px 99px 59px;
    background: $whiteFrostedGlass;
    border-radius: 20px;
    .feed__title {
      text-align: center;
      margin: 60px 0 40px;
      @extend %font-regular;
      font-size: 36px;
      line-height: 130%;
      &_color {
        margin: 0;
        @extend %font-regular;
        font-size: 48px;
        line-height: 120%;
        color: #fe9013;
      }
    }
    .feed__subtitle {
      padding: 30px 0 40px;
      @extend %font-regular;
      font-size: 24px;
      line-height: 120%;
    }
    .feed__text {
      @extend %font-regular;
      font-size: 16px;
      line-height: 130%;
      &_long {
        @extend %font-medium;
        font-weight: 500;
        padding-bottom: 10px;
        width: 105%;
        font-size: 16px;
        line-height: 130%;
        letter-spacing: -0.005px;
      }
      &_short {
        width: 90%;
        .emergency {
          position: relative;
          text-decoration: none;
          white-space: nowrap;
          &::after {
            content: "";
            display: block;
            width: 99%;
            border: 0.5px solid #fe9013;
            position: absolute;
            left: 1px;
            right: 0;
            bottom: -3px;
          }
        }
      }
    }
    .instructions {
      margin: 0 auto;
      width: 100%;
      max-width: 764px;
      margin-bottom: 62px;
      display: grid;
      grid-template-columns: repeat(8, 1fr);
      justify-items: center;
      align-items: start;
      justify-self: center;
      gap: 30px;
      z-index: 1;
      .instructions__item {
        max-width: 168px;
        display: grid;
        gap: 30px;
        &_1 {
          grid-column-end: span 2;
        }
        &_2 {
          grid-column-end: span 2;
        }
        &_3 {
          grid-column-end: span 2;
        }
        .icon {
          position: relative;
          width: 168px;
          height: 168px;
          display: flex;
          justify-content: center;
          align-items: center;
          background: $white;
          border-radius: 5px;
          &::before {
            content: "";
            position: absolute;
            top: -1px;
            bottom: -1px;
            left: -1px;
            right: -1px;
            background: $orange;
            border-radius: 6px;
            z-index: -1;
          }
        }
        .text {
          @extend %font-regular;
          font-size: 16px;
          line-height: 140%;
        }
      }
      .arrow {
        position: relative;
        top: 60px;
        z-index: 1;
      }
    }
    .feed__button {
      justify-self: center;
      @extend %button_big-radius;
      @extend %font-medium;
      line-height: 140%;
      font-size: 16px;
    }
  }
}

.testimonials-section {
  position: relative;
  overflow: hidden;
  &::after {
    content: "";
    background: url("../../assets/images/leav.png");
    background-repeat: no-repeat;
    position: absolute;
    right: 0;
    bottom: -133px;
    z-index: -1;

    height: 100%;
    width: 100%;
    max-width: 15.43%;
    background-size: contain;
    background-position: bottom;
  }
  .testimonials {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 140px 0 180px;
    .title {
      margin-bottom: 49px;
      @extend %font-regular;
      font-size: 36px;
      line-height: 130%;
      color: $blackBlue;
      text-align: center;
    }
    .range {
      position: relative;
      width: 51.637931%;
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      background: #f5f7f6;
      height: 6px;
      border-radius: 5px;
      margin: 23px 0 31px;
      &::before {
        content: "";
        position: absolute;
        top: -0.5px;
        bottom: -0.5px;
        left: -0.5px;
        right: -0.5px;
        background: $pinkGradient;
        border-radius: 5.5px;
        z-index: -1;
      }
      &::-moz-range-track {
        position: relative;
        width: 100%;
        height: 6px;
        border: 1px solid transparent;
        border-image-slice: 1;
        -moz-border-image: $pinkGradient;
        border-radius: 5px;
        -moz-appearance: none;
      }
      &::-webkit-slider-thumb {
        width: 19%;
        height: 6px;
        background-color: #fe9013;
        border: none;
        border-radius: 5px;
        appearance: none;
        cursor: pointer;
      }
      &::-moz-range-thumb {
        width: 19%;
        height: 6px;
        background-color: #fe9013;
        border: none;
        border-radius: 5px;
        -moz-appearance: none;
        cursor: pointer;
      }
    }
    &__button {
      align-self: flex-start;
      @extend %button_small-radius;
      font-size: 16px;
    }
  }
}

.feedbacks {
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  gap: 30px;
  &__item {
    position: relative;
    padding: 14px 15px 19px 16px;
    background-color: $grayLight;
    border-radius: 20px;
    &::before {
      content: "";
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      background: $pinkGradient;
      border-radius: 22px;
      z-index: -1;
    }
    .user {
      margin-bottom: 7px;
      display: flex;
      gap: 10px;
      &__avatar {
      }
      &__name {
        @extend %font-regular;
        font-size: 16px;
        line-height: 120%;
        color: $black;
      }
      &__meta {
        display: flex;

        gap: 16px;
        @extend %font-light;
        font-size: 15px;
        line-height: 120%;
        color: #bdbdbd;
        .user__date {
          position: relative;
          &::before {
            content: "\2022";
            position: absolute;
            left: -8px;
          }
        }
      }
    }
  }
  .feedback {
    height: 307px;
    overflow: scroll;
    @extend %font-light;
    font-size: 15px;
    line-height: 120%;
    color: $gray;
  }
}

.footer {
  padding: 40px 0 50px;
  color: $white;
  background-color: #111115;
  .news {
  }
  .donate {
    padding: 36px 0 44px;
    &__button {
      @extend %button_small-radius;
      @extend %font-medium;
      font-size: 16px;
      line-height: 140%;
    }
  }
}

.news {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 36px;
  &__logo {
    @extend %logo;
  }
  &__subscribe {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    gap: 13px;
    @extend %font-regular;
    font-size: 24px;
    line-height: 120%;
  }

  .subscribe-form {
    $s: 0.3s;
    display: flex;
    gap: 10px;
    &__input {
      position: relative;
      padding: 10px;
      width: 228px;
      @extend %font-regular;
      font-size: 16px;
      line-height: 140%;
      color: $white;
      background: transparent;
      border: 0.7px solid #fe9013;
      border-radius: 2px;
      outline: none;
      transition: all $s;
      &:focus {
        border: 0.7px solid $green;
        transition: all $s;
        & + .subscribe-form__button {
          border: 1px solid $green;
          color: $green;
          transition: all $s;
        }
      }
      &:not(.subscribe-form__input:focus) {
        & + .subscribe-form__button {
          color: $blackBlue;
          border: 1px solid $blackBlue;
          transition: all $s;
        }
      }
      &:valid {
        transition: all $s;
        & + .subscribe-form__button {
          color: $blackBlue;
          border: 1px solid $blackBlue;
          transition: all $s;
        }
        & + .subscribe-form__button {
          color: $green;
          border: 1px solid $green;
          transition: all $s;
        }
      }
      &:invalid {
        &::placeholder {
          color: $red;
          transition: all $s;
        }
        color: $red;
        border: 0.7px solid $red;
        transition: all $s;
        & + .subscribe-form__button {
          border: 1px solid $red;
          color: $red;
          transition: all $s;
        }
      }
    }
    &__button {
      @extend %small-button;
    }
  }
}

.info {
  $s: 0.3s;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: end;
  gap: 88px;
  &__social {
    .socials {
      display: flex;
      flex-direction: column;
      gap: 10px;
      list-style: none;
      &__item {
        .link {
          display: flex;
          align-items: center;
          gap: 12px;
          .icon {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 26px;
            height: 26px;
            background-color: rgba(196, 196, 196, 0.5);
            border-radius: 50%;
            transition: all $s;
          }
          .title {
            @extend %font-regular;
            font-size: 16px;
            line-height: 140%;
            transition: all $s;
          }
        }
        &:hover {
          .icon {
            background: $green;
            transition: all $s;
          }
          .title {
            color: $green;
            transition: all $s;
          }
        }
      }
    }
  }
  .nav {
    .menu {
      display: flex;
      gap: 58px;
      @extend %font-regular;
      font-size: 16px;
      line-height: 140%;
      list-style: none;
      &__item {
        white-space: nowrap;
      }
    }
  }
  &__copyright {
    justify-self: end;
    @extend %font-thin;
    font-size: 16px;
    line-height: 130%;
    .link_info {
      position: relative;
      cursor: pointer;
      &:hover {
        color: $green;
        &::after {
          content: "";
          display: block;
          width: 99%;
          border: 0.5px solid $green;
          position: absolute;
          left: 0;
          right: 0;
          bottom: -3px;
        }
      }
    }
    .author {
      margin-bottom: 10px;
    }
  }
}

// изменения в коненте
// изменения в коненте
// изменения в коненте
// изменения в коненте
// изменения в коненте
// изменения в коненте
// изменения в коненте
// изменения в коненте

.none {
  display: none;
}

// изменения в коненте
// изменения в коненте
// изменения в коненте
// изменения в коненте
// изменения в коненте
// изменения в коненте
// изменения в коненте
// изменения в коненте

@media screen and (max-width: 1599px) {
  .backstage-section {
    &::after {
      max-width: 10%;
    }
  }
}

@media screen and (max-width: 1440px) {
  .backstage-section {
    &::after {
      max-width: 4%;
    }
  }

  .animals-section {
    .animals-container {
      .animals-wrapper {
        .button-container {
          &_left {
            left: 34.37%;
          }
          &_right {
            right: 34.37%;
          }
        }
        .animals {
          gap: 93px 30px;
        }
      }
    }
  }
}

@media screen and (max-width: 1220px) {
  .backstage-section {
    &::after {
      // display: none;
    }
  }

  .testimonials-section {
    .testimonials {
      padding-top: 101px;
      .title {
        margin-bottom: 31px;
      }
      .feedbacks {
        &__item {
          .user {
            &__name {
              width: min-content;
            }
            &__meta {
              flex-direction: column;
              gap: 0;
            }
            &__date {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .header {
    background-color: #111115;
    .nav ul.menu {
      gap: 48px;
    }
  }

  .watch-section {
    height: 584px;
    .wrapper-content {
      .watch {
        padding-top: 124px;
        padding-right: 12px;
        gap: 40px;
        .watch-container {
          .circle {
            width: 367px;
            height: 367px;
            top: 69px;
            left: -14px;
          }
          .promo-text {
            font-size: 85px;
          }
        }
      }
    }
  }

  .backstage-section {
    padding: 100px 0 142px;
    &::after {
      display: none;
    }
    .backstage {
      .image-container {
        flex: 0 10 609px;
        align-items: center;
      }
    }
  }

  .animals-section {
    &::before {
      background-image: url("../../assets/images/palm_small-desktop.png");
      max-width: 19.25%;
    }
    &::after {
      max-width: 24%;
    }
    padding-bottom: 139px;
    .animals-container {
      .animals-wrapper {
        .animals {
          &__item {
            &.makeNone {
              display: none;
            }
            &.makeDisplay {
              display: block;
            }
            &:nth-child(1) {
              order: -3;
            }
            &:nth-child(2) {
              order: -3;
            }
            &:nth-child(3) {
              order: 0;
            }
            &:nth-child(4) {
              order: 0;
            }
            &:nth-child(5) {
              order: -2;
            }
            &:nth-child(6) {
              order: 3;
            }
            &:nth-child(7) {
              order: 0;
            }
          }
        }
      }
    }
  }

  .feed-section {
    padding: 30px 0 50px;
    .feed-container {
      padding: 31px 48px 50px 49px;
      .instructions {
        margin-bottom: 71px;
      }
      .feed__title {
        margin-top: 40px;
        &_color {
          margin-top: 0;
        }
      }
      .feed__subtitle {
        padding: 21px 0 20px;
      }
      .feed__text {
        &_long {
          width: 94%;
        }
        &_short {
          width: 95%;
          .emergency::after {
            bottom: 0;
          }
        }
      }
    }
  }

  .testimonials-section {
    &::after {
      bottom: -88px;
      max-width: 19.8%;
    }
    .testimonials {
      padding-top: 101px;
      padding-bottom: 140px;
      .range {
        margin-bottom: 52px;
        width: 41.637931%;
      }
      .title {
        margin-bottom: 31px;
      }
      .feedbacks {
        display: flex;
        &__item {
          & .feedback {
            padding-right: 10px;
          }
          &.makeNone {
            display: none;
          }
          &.makeDisplay {
            display: block;
            &_morePad .feedback {
              padding-right: 11px;
            }
          }
          .user {
            &__name {
              width: auto;
            }
            &__meta {
              flex-direction: row;
              gap: 16px;
            }
            &__date {
              &::before {
                display: block;
              }
            }
          }
        }
      }
      .feedback {
        &__item {
          .user {
            &__meta {
              flex-direction: column;
            }
          }
        }
      }
    }
  }

  .footer {
    &-content {
      .news {
        margin-right: 31px;
      }
      .info {
        grid-template-columns: 1.07fr 0.7fr 1.23fr;
        .nav {
          .menu {
            gap: 48px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .header {
    .nav {
      ul.menu {
        gap: 40px;
      }
    }
  }

  .feed-section {
    .feed-container {
      .instructions {
        &__item {
          .icon {
            max-width: 120px;
            padding: 0 10px;
          }
        }
      }
    }
  }

  .testimonials-section {
    .testimonials {
      .feedbacks {
        &__item {
          .user {
            &__name {
              width: min-content;
            }
            &__meta {
              flex-direction: column;
              gap: 0;
            }
            &__date {
              &::before {
                display: none;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .header {
    .wrapper-content {
      gap: 32px;
      .nav {
        ul.menu {
          gap: 24px;
        }
      }
    }
  }

  .footer {
    &-content {
      .info {
        gap: 40px;
        &__social {
          .socials {
            &__item {
              .link {
                .title {
                }
              }
            }
          }
        }
        .nav {
          .menu {
            gap: 20px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 640px) {
  body {
    .header {
      transition: all 0.3s 0.2s;
      .wrapper-content {
        .logo {
          // color: $white;
          // transition: none;
          a {
            // color: $white;
            // transition: none;
          }
          svg {
            // transition: none;
            mask {
              // fill: $white;
              // transition: none;
            }
            path {
              // fill: $white;
              // transition: none;
            }
          }
        }
        .burger-button {
        }
      }
      & + .nav.burger-menu {
        font-size: 16px;
        line-height: 140%;
        color: $blackBlue;
        display: block;
        position: fixed;
        z-index: 98;
        top: -330px;
        left: 0;
        right: 0;
        height: max-content;
        display: grid;
        gap: 14.5px;
        padding: 82px 10px 40px;
        font-size: 16px;
        line-height: 140%;
        background-color: $white;
        transition: all 0.3s;

        .menu {
          list-style: none;
          display: grid;
          grid-template-columns: none;
          gap: 14.5px;
          &__item {
            &.hover {
              .link {
              }
            }
          }
        }
        & + .overlay {
          display: block;
          position: fixed;
          z-index: 97;
          width: 100%;
          top: 0px;
          left: 0;
          right: 0;
          background-color: rgba(0, 0, 0, 0.6);
          opacity: 0;
          transition: opacity 0.3s;
        }
      }
      .close-button {
        display: none;
        position: relative;
        align-items: center;
        justify-self: end;
        width: 20px;
        height: 20px;
        z-index: 100;
        .line {
          width: 100%;
          height: 2px;
          background-color: $blackBlue;
          position: absolute;
          &:first-child {
            transform: rotate(45deg);
          }
          &:last-child {
            transform: rotate(-45deg);
          }
        }
      }
    }
  }

  body.open-popup {
    overflow: hidden;
    .header {
      padding: 11px 0;
      background-color: $white;
      color: $blackBlue;
      z-index: 99;
      transition: all 0.3s;
      .wrapper-content {
        padding-left: 10px;
        .logo {
          padding: 2px 3px 1px;
          font-size: 15.21px;
          color: #fe9013;
          border: 1px solid #fe9013;
          position: relative;
          z-index: 100;
          cursor: pointer;
          color: #fe9013;
          transition: none;
          a {
            color: #fe9013;
            transition: none;
          }
          svg {
            width: 11px;
            height: 18px;
            top: 17px;
            left: 6px;
            transition: none;
            mask {
              fill: #fe9013;
              transition: none;
            }
            path {
              fill: #fe9013;
              transition: none;
            }
          }
        }
        .burger-button {
          display: none;
          position: relative;
          z-index: 100;
        }
      }
      & + .nav.burger-menu {
        top: 0;
        transition: all 0.3s 0.2s;
        .menu {
          list-style: none;
          display: grid;
          grid-template-columns: none;
          gap: 14.5px;
          &__item {
            &.hover {
              .link {
              }
            }
          }
        }
        & + .overlay {
          height: 100%;
          opacity: 1;
        }
      }
      .close-button {
        display: flex;
        cursor: pointer;
        &:hover {
          .line {
            background-color: #fe9013;
            transition: all 0.3s;
          }
        }
        .line {
          transition: all 0.3s;
          &:first-child {
          }
          &:last-child {
          }
        }
      }
    }
  }

  .tabletNone {
    display: none;
  }
  .tabletDisplay {
    display: unset;
  }

  .wrapper-content {
    padding: 0 3.175%;
  }

  .header {
    position: fixed;
    top: 0;
    z-index: 999;
    padding: 3px 0 2px;
    font-size: 16px;
    line-height: 140%;
    .nav.makeNone {
      display: none;
    }
    .wrapper-content {
      .logo {
        font-size: 12.29px;
        line-height: 120%;
        border: none;
        &:hover {
          border: none;
        }
        .link {
          padding: 0 0;
        }
        svg {
          width: 13px;
          height: 14px;
          top: 12px;
          left: 0px;
          path {
            transition: all 0.3s;
          }
        }
      }
      .nav {
        &.makeNone {
          display: none;
        }
      }
      .burger-button {
        cursor: pointer;
        &.makeDisplay {
          display: grid;
        }
        // padding: 5px;
        width: 18px;
        justify-self: end;
        gap: 2px;
        margin-bottom: 3px;
        transition: all 0.3s;
        &:hover {
          gap: 4px;
          .line {
            border-color: #fe9013;
          }
        }
        .line {
          transition: all 0.3s;
          border: 1px solid $white;
          border-radius: 1px;
        }
      }
    }
  }

  .watch-section {
    height: 373px;
    .wrapper-content {
      .watch {
        width: 100%;
        align-items: flex-end;
        padding-top: 83px;
        padding-right: 3px;
        .watch-container {
          position: relative;
          width: 243px;
          .circle {
            width: 237.6px;
            height: 237.6px;
            top: -39px;
            left: -43px;
          }
          .promo-text {
            font-size: 54.29px;
          }
        }
        .button {
          position: relative;
          top: -48px;
          align-self: flex-start;
        }
      }
    }
  }

  .backstage-section {
    padding-top: 60px;
    padding-bottom: 60px;
    &::after {
      display: block;
      max-width: 20.4%;
      top: -5px;
      height: 95%;
    }
    .backstage {
      display: block;
      width: 80%;
      .image-container {
        &.makeNone {
          display: none;
        }
      }
      .text-container {
        .title {
          padding-left: 4px;
        }
        .text {
          padding: 21px 0;
          line-height: 130%;
          &_main {
            padding: 20px 0;
            line-height: 137%;
            width: 104%;
          }
        }
        .subtitle {
          margin: 10px 4px 0px;
        }
      }
    }
  }

  .animals-section {
    padding-bottom: 100px;
    &::before {
      max-width: 30%;
      left: -59px;
    }
    &:after {
      max-width: 27%;
    }
    .animals-container {
      gap: 60px;
      .animals-wrapper {
        .animals {
          grid-template-columns: 1fr 1fr;
          &__item {
            &.makeHide {
              display: none;
            }
            .text-container {
              padding: 4px 14px 10px 12px;
              .title {
                font-size: 12.47px;
              }
              .text {
                font-size: 11.69px;
              }
            }
          }
          & .meat .text-container {
            &::after {
              width: 37px;
              height: 27px;
              top: 3px;
              right: 6px;
            }
          }
          & .vegan .text-container {
            &::after {
              width: 27px;
              height: 29px;
              top: 3px;
              right: 9px;
            }
          }
        }
        .button-container {
          &_left {
            left: 37.2%;
          }
          &_right {
            right: 37.2%;
          }
        }
      }
    }
  }

  .feed-section {
    .feed-container {
      .instructions {
        display: flex;
        justify-content: space-between;
        gap: 0px;
        &__item {
          position: relative;
          .icon {
            max-width: 168px;
            padding: 0;
          }
          &:nth-child(3) {
            &::after {
              content: "";
              width: 89px;
              height: 29px;
              background-image: url("../../assets/icons/arrow_green.svg");
              background-size: cover;
              background-repeat: no-repeat;
              position: absolute;
              top: -17px;
              left: -73px;
              z-index: 10;
            }
          }
          &:nth-child(5) {
            &::before {
              content: "";
              width: 89px;
              height: 29px;
              background-image: url("../../assets/icons/arrow_green.svg");
              background-size: cover;
              background-repeat: no-repeat;
              position: absolute;
              top: -18px;
              left: -75px;
              z-index: 10;
            }
          }
        }
        .arrow {
          display: none;
        }
      }
    }
  }

  .feed-section {
    padding-top: 20px;
    padding-bottom: 20px;
    .wrapper-content {
      padding: 0;
    }
    .feed-container {
      padding: 10px 20px 60px;
      .feed__title {
        margin-top: 30px;
        margin-bottom: 21px;
        font-size: 36px;
        &_color {
          margin: 0;
          font-size: 42px;
        }
      }
      .feed__subtitle {
        padding-top: 20px;
        font-size: 22px;
      }
      .feed__text {
        width: 100%;
        &_short {
        }
      }
      .instructions {
        margin-bottom: 40px;
        justify-content: space-between;
        padding-right: 12px;
        &__item {
        }
      }
    }
  }

  .testimonials-section {
    &::after {
      bottom: -70px;
      max-width: 19.4%;
      right: -7px;
    }
    .testimonials {
      padding-top: 60px;
      padding-bottom: 79px;
      .feedbacks {
        flex-direction: column;
        gap: 18px;
        margin-bottom: 42px;
        &__item {
          padding: 14px 15px 7px 12px;
          &:nth-child(5) {
            padding: 10px 15px 11px 12px;
            .user {
              gap: 6px;
            }
          }
          .feedback {
            height: 37px;
            padding-left: 6px;
            &:active {
              height: auto;
            }
            &.makeHide {
              display: none;
            }
            &.makeVisible {
              display: block;
            }
          }
          .user {
            &__name {
              width: auto;
            }
            &__meta {
              flex-direction: row;
              gap: 16px;
            }
            &__date {
              &::before {
                display: block;
                left: -10px;
              }
            }
          }
        }
      }
      .range {
        display: none;
      }
      &__button {
        align-self: center;
        width: 240px;
      }
    }
  }

  .footer {
    position: relative;
    padding: 13px 0 0px;
    padding-bottom: 12px;
    &-content {
      .news {
        &__subscribe {
          display: none;
        }
      }
      .donate {
        padding: 33px 0 67px;
      }
      .info {
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        &__social {
          position: absolute;
          top: 12px;
          right: 20px;
          .socials {
            gap: 20px;
            &__item {
              .link {
                .title {
                  display: none;
                }
              }
            }
          }
        }
        .nav {
          .menu {
            gap: 37px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .watch-section {
    height: 421px;
    .wrapper-content {
      .watch {
        .button {
          position: static;
          align-self: flex-start;
        }
      }
    }
  }

  .animals-section {
    .animals-container {
      gap: 20px;
      .animals-wrapper {
        .animals {
          grid-template-columns: 1fr;
          gap: 20px;
        }
        .button-container {
          display: none;
        }
      }
    }
  }

  .feed-section {
    .feed-container {
      justify-content: center;
      .instructions {
        margin-bottom: 40px;
        padding-right: 0;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        &__item {
          position: relative;
          &:nth-child(3) {
            &::after {
              top: -53px;
              left: 140px;
              transform: rotate(84deg);
            }
          }
          &:nth-child(5) {
            &::before {
              top: -52px;
              left: 140px;
              transform: rotate(84deg);
            }
          }
        }
      }
    }
  }

  .footer {
    &-content {
      .info {
        gap: 36px;
        .nav {
          .menu {
            gap: 24px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 430px) {
  .footer {
    padding-bottom: 21px;
    .footer-content {
      .news {
        margin: 0;
        padding-top: 6px;
        .news__logo {
          border: none;
          width: 100%;
          .link {
            position: relative;
            svg {
              top: -1px;
              left: 76px;
            }
          }
        }
      }
      .donate {
        padding: 83px 0 28px;
        text-align: center;
      }
      .info {
        grid-template-columns: none;
        gap: 29px;
        .info__social {
          top: 73px;
          right: 50%;
          transform: translate(50%);
          .socials {
            flex-direction: row;
            gap: 30px;
          }
        }
        .nav {
          .menu {
            width: 93%;
            margin: auto;
            justify-content: space-between;
          }
        }
        .info__copyright {
          order: -1;
          font-size: 15px;
          .author {
            margin-bottom: 12px;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px) {
  .mobileNone {
    display: none;
  }
  .mobileDisplay {
    display: unset;
  }

  .header {
    // position: relative;
    .wrapper-content {
      .burger-button {
        margin-bottom: 1px;
      }
    }
  }

  .watch-section {
    margin-top: 34px;
    margin-bottom: 104px;
    height: 187px;
    .wrapper-content {
      .watch {
        padding-top: 41px;
        .watch-container {
          margin-bottom: 20px;
          width: 41%;
          .circle {
            width: 119.09px;
            height: 119.09px;
            top: -19px;
            left: -22px;
          }
          .promo-text {
            font-size: 28px;
            &_yellow {
              margin-left: -3px;
            }
          }
        }
        .button {
          align-self: center;
        }
      }
    }
  }

  .backstage-section {
    padding-top: 0;
    padding-bottom: 31px;
    &::after {
      max-width: 10%;
      top: -66px;
      height: 51%;
    }
    .backstage {
      .image-container {
        &.makeNone {
        }
      }
      .text-container {
        .title {
          padding-left: 0;
          font-size: 24px;
        }
        .text {
          margin-left: 2px;
          padding: 10px 0;
          width: 119%;
          line-height: 132%;

          &_main {
            width: 123%;
            margin-left: 0;
            line-height: 137%;
          }
        }
        .subtitle {
          margin: 10px 2px 0px;
        }
      }
    }
  }

  .animals-section {
    padding-bottom: 60px;
    &::before {
      max-width: 22%;
      left: -12px;
    }
    &:after {
      background-image: url("../../assets/images/strelitzia_mobile.png");
      max-width: 23%;
      bottom: -12px;
      right: 0;
    }
    .wrapper-content {
      padding: 0px 5.43%;
    }
    .animals-container {
      gap: 20px;
      .animals-wrapper {
        .animals {
          grid-template-columns: 1fr;
          gap: 20px;
        }
        .button-container {
          display: none;
        }
      }
    }
  }

  .feed-section {
    .wrapper-content {
      padding: 0 3.175%;
    }
    .feed-container {
      justify-content: center;
      padding: 21px 9px 40px;
      .feed__title {
        margin-top: 0;
        margin-bottom: 19px;
        font-size: 24px;
        &_color {
          margin: 0;
        }
      }
      .feed__subtitle {
        padding-top: 10px;
        padding-bottom: 19px;
        margin-left: -3px;
        font-size: 18px;
        line-height: 122%;
        text-align: center;
      }
      .instructions {
        margin-bottom: 40px;
        gap: 26px;
        .instructions__item {
          gap: 9px;
          &:first-child {
            .text {
              padding-bottom: 18px;
            }
          }
          &:nth-child(3) {
            &::after {
              top: -53px;
              left: 140px;
              transform: rotate(84deg);
            }
          }
          &:nth-child(5) {
            &::before {
              top: -52px;
              left: 140px;
              transform: rotate(84deg);
            }
          }
        }
      }
    }
  }

  .testimonials-section {
    .wrapper-content {
      padding: 0 12px 0 13px;
    }
    &::after {
      background-image: url("../../assets/images/leav_mobile.png");
      bottom: -30px;
      max-width: 16%;
      right: 0px;
    }
    .testimonials {
      padding-top: 30px;
      padding-bottom: 60px;
      .title {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .feedbacks {
        margin-bottom: 32px;
        &__item {
          padding: 7px 15px 13px 10px;
          &:nth-child(5) {
            .feedback {
              padding-top: 0;
            }
            .user {
              gap: 4px;
              &__name {
                margin: 0;
              }
            }
          }
          .feedback {
            padding-top: 1px;
          }
          .user {
            gap: 6px;
            &__name {
              margin: 2px 0;
            }
          }
        }
      }
    }
  }
}
